.link-tree
    padding-left 40px
    a
        color #3498db
        padding 0 15px
        font-size 17px
        display block
nav.link-tree
    display block
    a
        margin-bottom 5px

.table-title
    font-size 20px