.content
    display block
    &>p
        margin-bottom 20px
        font-size 1.4em
    &>a
        color #3498db
        font-size 1.4em
        &:hover
            text-decoration none
    a
        color #3498db
    .title
        text-align center
        margin-top 40px
ul.list
    display block
    padding-left 20px
    li
        list-style-type disc
        display list-item
        list-style-position inside
        margin-bottom 15px
        line-height 20px
        font-size 1.4em
        li
            font-size 1em
            


.sand-blind
    .content
        p>a
            font-size 1em
    &.white
        .content
            a
                color black
    &.black
        .content
            a
                color white
    &.blue
        .content
            a
                color #063462
