.content
    font-size 14px
    display block
    p
        margin-bottom 20px
    a
        color #3498db
        &:hover
            text-decorstion none
    .title
        text-align center
        margin-top 40px
ul.list
    display block
    padding-left 20px
    li
        list-style-type disc
        display list-item
        list-style-position inside
        margin-bottom 15px
        line-height 20px
        