.content
    font-size 17px
    display block
    p
        margin-bottom 20px
ul.list
    display block
    padding-left 20px
    li
        list-style-type disc
        display list-item
        list-style-position inside
        margin-bottom 15px
        line-height 20px
        