<p>В Рассказово стартовала серия круглых столов, организованных Управлением по развитию промышленности ипредпринимательства Тамбовской области</p>
<p>Сегодня, <b>21 июля</b>, в городе Рассказово, стартовала серия круглых столов, организованных Управлением по развитию промышленности и предпринимательства Тамбовской области и Фондом содействия кредитованию малого и среднего предпринимательства Тамбовской области совместно с администрациями городов и районов.</p>
<p><b>Цель мероприятий</b> - информирование предпринимателей о действующих механизмах государственной поддержки малого бизнеса и консультирование об условиях её предоставления.</p>
<p>В круглом столе приняли участие предприниматели г. Рассказово и Рассказовского района, представители администраций муниципалитетов, директор Фонда Андрей Блудов, заместитель начальника отдела Управления Дмитрий Мещеряков, специалист Рассказовского Многофункционального центра предоставления государственных и муниципальных услуг населению Ольга Позднякова.</p>
<table style="width:100%">
    <tr>
        <td><img style="width:100%" src="/assets/images/news/gal1photo3.jpg"/></td>
        <td><img style="width:100%" src="/assets/images/news/gal1photo4.jpg"/></td>
    </tr>
    <tr>
        <td><img style="width:100%" src="/assets/images/news/gal1photo1.jpg"/></td>
        <td><img style="width:100%" src="/assets/images/news/gal1photo2.jpg"/></td>
    </tr>
    <tr>
    </tr>
</table>
