<p>
	Всероссийская конференция
</p>
<p>
	16 декабря 2016 года в Минэкономразвития России состоится всероссийская конференция по теме «Развитие малого и среднего предпринимательства: переход к новому качеству» (далее - конференция).
</p>
<p>
	Правительством Российской Федерации утверждена Стратегия развития малого и среднего предпринимательства в Российской Федерации на период до 2030 года.
</p>
<p>
	В соответствии с поручением Президента Российской Федерации осуществлен запуск проекта по приоритетному направлению стратегического развития Российской Федерации «Малый бизнес и поддержка индивидуальной предпринимательской инициативы».
</p>
<p>
	Одобрена модель поддержки малого предпринимательства в субъектах Российской Федерации в ноябре 2016 года на заседании Государственного совета РФ.
</p>
<p>
	С мая по ноябрь 2016 г. Минэкономразвития России реализует пилотный проект по созданию системы «одного окна» для оказания услуг малым и средним предприятиям (МФЦ для бизнеса) с участием 39 субъектов Российской Федерации.
</p>
<p>
	В связи с этим, на конференции будет рассмотрен следующий ряд вопросов:
</p>
<p>
	<ul class="list">
		<li style="display: list-item;">
			- задачи государственной политики в сфере развития малого и среднего предпринимательства на 2017 и 2018 года;
		</li>
		<li style="display: list-item;">
			-  организация взаимодействия субъектов РФ и федеральных институтов развития в сфере малого и среднего предпринимательства;
		</li>
		<li style="display: list-item;">
			- участие субъектов РФ в реализации проекта по приоритетному направлению стратегического развития «Малый бизнес и поддержка индивидуальной предпринимательской инициативы»;
		</li>
		<li style="display: list-item;">
			- совершенствование подходов к реализации программы поддержки малого и среднего предпринимательства Минэкономразвития России;
		</li>
		<li style="display: list-item;">
			-  подведение итогов пилотного проекта по созданию МФЦ для бизнеса в субъектах Российской Федерации.
		</li>
	</ul>
</p>
<p>
	В работе конференции примет участие генеральный директор АО МК «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» - А.М.Блудов.
</p>
<p>
	Информация предоставлена Минэкономразвития РФ
</p>

