<p>
	Гарантийный фонд Тамбовской области вошел в пятнадцать лучших гарантийных организаций
</p>
<p>
	Гарантийный фонд Тамбовской области занял в рейтинге пятнадцатую строчку из 81, позволив малому и среднему бизнесу привлечь в экономику региона более 1,2 млрд. рублей кредитных средств. Также организация вошла в ТОП-20 по количеству и объёму выданных поручительств.
</p>
<p>
	Что касается региональных гарантийных организаций Центрального федерального округа, то здесь Гарантийный фонд Тамбовской области занимает 4-е место, вслед за институтами поддержки Москвы, Московской и Воронежской областей.
</p>
<p>
	«В планах на 2017 год – увеличить объём предоставленных поручительств минимум на 10% по сравнению с 2016 годом», – сообщил генеральный директор Фонда Андрей Блудов. 
</p>
<p>
	По мнению первого заместителя главы администрации Тамбовской области Александра Ганова, Гарантийный фонд не только повышает доступность кредитных средств для бизнеса, но и становится полноценным партнером предпринимателей, оказывая им всестороннюю поддержку, консультируя по вопросам бухгалтерского учета, налогового законодательства и другим. 
</p>
<p>
	«В 2016 году мы увидели рост объёма поручительств, увеличение числа клиентов. Тем не менее, Фонду есть куда расти, и приоритетом на будущий год должен стать малый бизнес региона. Есть цели увеличить количество клиентов Фонда – компаний среднего бизнеса, приняв участие в обеспечении их сделок совместно с федеральными партнёрами – АО «Федеральная корпорация по развитию МСП», АО «МСП Банк». Высокий размер капитала Фонда позволяет ему это сделать», – подчеркнул первый заместитель главы региона. 
</p>
<p>
	Кроме того, Александр Ганов добавил, что в апреле 2017 года Гарантийный Фонд намерен выйти на рынок микрокредитования, что позволит малому бизнесу привлекать кредиты на реализацию своих проектов по ставке не выше 10% годовых.
</p>
<p>
	Напомним, Гарантийный фонд Тамбовской области создан постановлением администрации Тамбовской области в 2008 году. Фонд обеспечивает доступ субъектов малого и среднего предпринимательства и организаций инфраструктуры поддержки предпринимательства к кредитным и иным финансовым ресурсам. 
</p>
<p>
	Подробнее об услугах Фонда можно узнать по телефону: 8 (4752) 63-77-27, а также по адресу: Тамбов, Интернациональная, дом 16А, помещение 17. 
</p>
<p>
	Также по вопросам получения поддержки бизнесмены могут обращаться в управление по развитию промышленности и предпринимательства Тамбовской области: 8 (4752) 79-15-65 и 79-15-64. 
</p>

