<p>
	Банк России принял решение сохранить ключевую ставку на уровне 10,00% годовых
</p>
<p>
	Совет директоров Банка России 3 февраля 2017 года принял решение сохранить ключевую ставку на уровне 10,00% годовых. Совет директоров отмечает, что динамика инфляции в целом соответствует прогнозу, инфляционные ожидания постепенно снижаются, а экономика восстанавливается быстрее, чем ожидалось ранее. При этом замедление темпа роста потребительских цен отчасти обусловлено влиянием временных факторов. Планируемое проведение Минфином России операций по покупке/продаже иностранной валюты на валютном рынке в рамках применения переходного бюджетного правила не создаст существенных инфляционных рисков при сохранении Банком России умеренно жесткой денежно-кредитной политики. Инфляция замедлится до целевого уровня 4% к концу 2017 года и будет поддерживаться вблизи него в дальнейшем. С учетом изменения внешних и внутренних условий потенциал снижения ключевой ставки Банком России в первом полугодии 2017 года уменьшился.
</p>
<p>
	Следующее заседание Совета директоров Банка России, на котором будет рассматриваться вопрос об уровне ключевой ставки, запланировано на 24 марта 2017 года.
</p>
<p>
	Информация предоставлена Пресс-службой Банка России.
</p>