<article>
    
    <p>Объявлен очередной конкурс по отбору финансовых организаций для размещения средств Фонда во вкладах (депозитах).</p>



    <p><strong>1.</strong>
        <strong><span> Организатор конкурсного отбора</span></strong><span><span>: Тамбовское областное государственное унитарное предприятие «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области».</span></span></p>
    <p><strong><span>2. Контактное лицо</span></strong><span>: Блудов Андрей Михайлович.</span></p>
    <p><span>Тел. (факс): 8 (4752) 63-07-26, 63-07-27.</span></p>
    <p><strong><span>3. Предмет конкурсного отбора</span></strong><span>: право на заключение договора на размещение Тамбовским областным государственным унитарным предприятием «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» во вклады (депозиты) кредитных организаций средств, полученных из федерального и областного бюджетов (Договор депозита) сроком действия 1 (один) год.</span></p>
    <p><strong><span>4. Срок для заключения договора Депозита.</span></strong><span><span> </span></span><span>Договор депозита должен быть заключен в течение 15 дней с даты уведомления Банка о результатах конкурсного отбора.</span></p>
    <p><strong><span>5. Объём денежных средств, выставляемых на конкурс:</span></strong><span><span> </span></span><span>65 000 000 (шестьдесят пять миллионов) рублей.</span></p>
    <p><strong><span>6. Порядок проведения конкурсного отбора.</span></strong></p>
    <p><span>Порядок проведения конкурсного отбора определяется Положением о конкурсном отборе кредитных организаций на размещение Тамбовским областным государственным унитарным предприятием «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» во вклады (депозиты) кредитных организаций средств, полученных из федерального и областного бюджетов, утвержденным приказом директора ТОГУП «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» от 11.02.2015 № 5  (далее – Положение).</span></p>
    <p><span>С Положением можно ознакомиться на сайте Организатора конкурсного отбора по адресу:<span> </span><a href="http://www.fsc-tambov.ru/">www.fsc-tambov.ru</a><span> </span>или получить её на бумажном носителе у Организатора конкурсного отбора.</span></p>
    <p><strong><span>6.1. Порядок предоставления конкурсной документации и оформления участия в конкурсном отборе:</span></strong></p>
    <p><span>Конкурсная документация предоставляется на бумажном носителе в составе заявки, являющейся Приложением к Положению о конкурсном отборе кредитных организаций на размещение Тамбовским областным государственным унитарным предприятием «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» во вклады (депозиты) кредитных организаций средств, полученных из федерального и областного бюджетов, и регистрируется Организатором конкурсного отбора.</span></p>
    <p><strong><span>6.2. Срок представления заявки на участие в конкурсном отборе.</span></strong></p>
    <p><span>Конкурсная документация представляется в течение 30 дней с момента опубликования настоящего извещения.</span></p>
    <p><strong><span>6.3. Плата за предоставление:</span></strong><span><span> </span></span><span>не установлена.</span></p>
    <p><strong><span>6.4. Рассмотрение заявок на участие в конкурсном отборе и подведение итогов конкурсного отбора:</span></strong></p>
    <p><span>Дата: 20.03.2015</span></p>
    <p><span>Место: г. Тамбов, ул. Интернациональная, д. 14, каб. 501.</span></p>
    <p><strong><span>7. Срок проведения конкурсного отбора</span></strong><span>.</span></p>
    <p><span>Комиссия начинает рассмотрение Заявок не ранее, чем по истечении 30 дней после опубликования Извещения, и принимает решение о результатах конкурса в 15-дневный срок с момента окончания приёма Заявок.</span></p>
    <p><span><strong><span><span>Конкурсная документация</span></span></strong><span><span> </span></span><span>(</span><a href="/images/doc/novosti/kddep16.02.2015.zip"></a></span><a href="/images/doc/novosti/kddep16.02.2015.zip">zip скачать</a><span>)</span></p>

</article>