<p>
С 8 по 10 сентября в Мичуринске прошла XI Всероссийская выставка «День садовода-2016»
</p>
<p>
   Программа Дня садовода включила научную конференцию, посвященную импортозамещению продукции садоводства. Состоялась презентация садового центра Ассоциации садоводов России и расширенное заседание совета Ассоциации с участием руководителей более 20 региональных органов управления АПК, садоводческих хозяйств и специалистов из-за рубежа.   На выставке, которая развернулась на площади имени И.В. Мичурина, были представлены передовые достижения в области селекции плодовых культур и садоводства, современная садоводческая техника, инженерные системы с мастер-классами по их эксплуатации, а также изобилие посадочного материала, семян, саженцев и средств защиты растений. 
   Также в рамках Дня садовода прошел второй симпозиум "Здоровье — питание — спорт", посвящённый проблемам качества специализированной пищевой продукции на основе садоводства, с участием представителей ведущих федеральных центров в области питания, спорта, космической медицины и селекционных центров по плодовым, ягодным и овощным культурам.
   </p>
   <p>
   Еще одним приятным событием выставки стало торжественное открытие «Центра Развития садоводства имени выдающегося садовода России, доктора с/х наук, профессора В.Г. Муханина». Здесь желающие смогли попробовать плоды и ягоды так называемых перспективных сортов, используемых в промышленном садоводстве.
   </p>
   <P>
   Самым ярким событием Дня садовода стал фестиваль мичуринского яблока, которое является одним из брэндов региона. Гостей ждали костюмированные народные гуляния, мастер-классы народного танца, дегустации ароматного яблочного варенья, свежевыжатого яблочного сока, яблочной сдобы от местных производителей и многое другое. Главную городскую площадь украсили праздничные инсталляции на яблочную тему. Всего в мероприятиях приняли участие свыше 500 человек.
</p>
 <p>
  <img src="/assets/images/news/01news12-09-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news12-09-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/03news12-09-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/04news12-09-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/05news12-09-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/06news12-09-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/07news12-09-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/08news12-09-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/09news12-09-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/10news12-09-2016.jpg" alt="">
</p>