<p>
  АО «Федеральная корпорация по развитию МСП» сможет предоставлять услуги через МФЦ
</p>



<p>Председатель Правительства РФ Дмитрий Медведев подписал подготовленное Минэкономразвития РФ постановление об изменениях в порядке предоставления государственных и муниципальных услуг субъектам малого и среднего предпринимательства.</p>
<p>Документ разработан для реализации Федерального закона №209-ФЗ   «О развитии малого и среднего предпринимательства в Российской Федерации» по поручению Правительства.</p>
<p>Правила организации деятельности многофункциональных центров предоставления государственных и муниципальных услуг утверждены Постановлением Правительства №1376. Подписанным документом в эти правила внесены изменения.</p>
<p>Устанавливается возможность предоставления акционерным обществом «Федеральная корпорация по развитию малого и среднего предпринимательства» услуг субъектам малого и среднего предпринимательства через многофункциональные центры предоставления государственных и муниципальных услуг.</p>
<p>Кроме того, с учётом практики организации предоставления государственных и муниципальных услуг в субъектах Федерации исключается возможность взимания МФЦ дополнительной платы за оформление документов и заявлений по формам, установленным российским законодательством, в рамках оказания государственных и муниципальных услуг.</p>
<p>Минэкономразвития России поручено утвердить примерную форму соглашения о взаимодействии, заключаемого Корпорацией и МФЦ, уполномоченным на заключение соглашений о взаимодействии, а также на координацию и взаимодействие с другими МФЦ, находящимися на территории субъекта Федерации, и организациями, привлекаемыми к реализации функций МФЦ.</p>
<p>Принятое решение будет способствовать повышению качества и доступности услуг, оказываемых Корпорацией субъектам малого и среднего предпринимательства через МФЦ, сокращению сроков оказания услуг, уменьшению финансовых издержек граждан и организаций, снижению коррупционных рисков.</p>
<br/>
<br/>
Информация предоставлена: Минэкономразвития России
