<p>В рамках VI-го инновационного лагеря в Тамбове состоялся слет молодых предпринимателей «Лунная поляна» Участники слета получили возможность задать вопросы относительно проблем предпринимательства главе администрации Тамбовской области Александру Никитину.</p>
<p>Также в программе слёта прошла олимпиада среди школьников по предпринимательству, работали тематические площадки и проходили деловые игры. Участники получили практические знания по финансовой грамотности, стандартам развития конкуренции в Тамбовской области.
</p>
 <p>
  <img src="/assets/images/news/01news18-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news18-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/03news18-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/04news19-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/05news19-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/06news19-08-2016.jpg" alt="">
</p>