<p><b>RAEX подтвердил рейтинг надежности Гарантийного фонда Тамбовской области</b></p>
<p>
	Ведущее рейтинговое агентство RAEX (Эксперт РА) подтвердило рейтинг надежности гарантийного покрытия, предоставляемого Фондом содействия кредитованию малого и среднего предпринимательства Тамбовской области на уровне А+ «Очень высокий уровень кредитоспособности». Прогноз по рейтингу – стабильный. 
</p>
 <p>
 	Аналитики агентства к ключевым факторам, оказавшим положительное влияние на рейтинговую оценку, отнесли увеличение доли поручительств по ссудам, имеющим обеспечение в форме залога недвижимости, а также высокую надежность инвестиционных вложений Фонда. 
 </p>
 <p>
 	Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области создан в 2008 году и специализируется на предоставлении поручительств представителям малого и среднего бизнеса на территории региона. Единственным учредителем Фонда является администрация Тамбовской области. 
 </p>
 <p>
 	По состоянию на начало октября 2016 года активы Фонда составляют более 410 миллионов рублей. С начала деятельности Фондом было выдано 400 поручительств на общую сумму 2 миллиарда 130 миллионов рублей, что позволило субъектам малого и среднего предпринимательства получить кредитов на сумму почти 5 миллиардов рублей и создать более 1,5 тысячи новых рабочих мест. В основном это предприятия и предприниматели, работающие в сферах сельского хозяйства, производства, торговли и оказания транспортных услуг. 
 </p>
 <p>
 	Положительная динамика деятельности Фонда сохраняется и в  текущем году. Так, за 9 месяцев 2016 года Фонд выдал 62 поручительства на общую сумму 332 миллиона рублей, что позволило предпринимателям привлечь кредитов на сумму 1 миллиард 93 миллиона рублей. В результате удалось сохранить полторы тысяч рабочих мест и создать возможность для организации более 240 новых рабочих мест. 
 </p>
 <p>
 	Сегодня Фонд имеет соглашения о сотрудничестве с двадцатью финансовыми организациями, а также с Федеральной корпорацией по развитию малого и среднего предпринимательства.
</p>