<p>Круглый стол по теме: «Механизмы государственной поддержки субъектов малого и среднего предпринимательства»</p>

<p>В зале администрации города Уварово и Ржаксинского района представители местного предпринимательства приняли участие в круглом столе по теме: «Механизмы государственной поддержки субъектов малого и среднего предпринимательства» с представителями Фонда содействия кредитованию малого и среднего предпринимательства, управления по развитию промышленности и предпринимательства области, организаций инфраструктуры государственной поддержки, общественных объединений предпринимателей.
 </p>
 <p>
  <img src="/assets/images/news/01news11-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news11-08-2016.jpg" alt="">
</p>