<p>
  Красный хутор
</p>
<p>
  27 апреля 2017 года состоялась рабочая поездка первого заместителя главы администрации Тамбовской области Александра
  Николаевича Ганова в Сосновский район. Также участие в поездке принял генеральный директор АО МК «Фонд содействия
  кредитованию малого и среднего предпринимательства Тамбовской области» Андрей Блудов.</p>
<p>
  Была осмотрена площадка реализации инвестиционного проекта «Красный Хутор», связанного с производством, переработкой и
  реализацией продукции птицеводства при откорме утки породы «Мулард» на жирную печень (Фуа-гра). В декабре 2016 года
  при участии АО МК «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» был
  привлечен кредит в размере 18,9 млн. рублей в ПАО Сбербанк с целью реализации проекта.
</p>
<p>
  Уже сегодня организовано помещение для брудерного содержания утки, цеха приняли на откорм 6 000 подрощенных утят.
  Проект многие направления бизнеса реализует впервые в России, в том числе используется нестандартное оборудование
  российского и импортного производства. Продукция изготавливается на отечественных предприятиях, за исключением
  аппарата откорма на Фуа-гра.
</p>
<p>
  Социальной задачей проекта является развитие посёлка сельского типа «Красный Хутор» Сосновского района Тамбовской
  области, создание рабочих мест для жителей посёлка и близлежащих поселений, привлечение молодых специалистов для
  работы в компании.
</p>
<p>
  В рамках реализации проекта планируется создать более 30 рабочих мест.
  Привлечение инвестиций в экономику региона является приоритетным направлением в деятельности администрации Тамбовской
  области.
</p>
<p>
  <img src="./assets/images/news/news_27_1.jpg" alt=""/>
</p>
<p>
  <img src="/assets/images/news/news_27_2.jpg" alt=""/>
</p>
<p>
  <img src="/assets/images/news/news_27_3.jpg" alt=""/>
</p>
<p>
  <img src="/assets/images/news/news_27_4.jpg" alt=""/>
</p>
