<p>
  Банк России приглашает предпринимателей на бесплатные вебинары
</p>
<p>
  В мае Банк России начал проведение обучающих вебинаров «Финансовые услуги для малого бизнеса: возможности, риски и
  защита прав предпринимателей». Каждый из вебинаров посвящен определенной теме, а подробное их обсуждение с
  привлечением ведущих экспертов рынка поможет лучше понять особенности различных финансовых инструментов и «примерить»
  их к собственному бизнесу.
</p>
<p>
  «Мы уверены, что как каждый по отдельности, так и полный цикл вебинаров будут интересны даже самым небольшим компаниям
  и индивидуальным предпринимателям, - Число потенциальных слушателей велико. Только в нашей области более 11 тысяч
  предприятий малого и среднего бизнеса, - отмечает Михаил Носенков, управляющий Отделения Тамбов ГУ Банка России по
  ЦФО. - За первый квартал 2017 года кредитный портфель предприятий малого и среднего бизнеса, составил в регионе 34,5
  млрд. рублей, что на 51% больше, чем в аналогичном периоде прошлого года. На счетах в банках наши индивидуальные
  предприниматели к началу апреля хранили 1,5 млрд. рублей. Но ведь вклады и кредиты - это далеко не все инструменты,
  которые бизнесу предлагает современный финансовый рынок».
</p>
<p>
  Кстати, первые вебинары уже прошли - слушатели узнали о защите прав предпринимателей, о недобросовестных практиках на
  финансовом рынке и том, как с ними борется Банк России. Особенный интерес вызвали занятия, посвященные факторингу для
  малого бизнеса и хеджированию валютных рисков. В организации и проведении онлайн-лекций принимают участие ведущие
  объединения малого бизнеса, институты развития, саморегулируемые организации. Они идет в режиме активного диалога,
  поэтому слушатели активно задают вопросы и получают практические советы.
</p>
<p>
  В дальнейшем планируются «онлайн-уроки», на которых участники смогут узнать о преимуществах различных инструментов
  инвестиционного финансирования, способах минимизации рисков, узнают, как правильно выбирать поставщика услуги и
  финансовый продукт в зависимости от типа бизнеса и существующих потребностей.
</p>
<p>
  Более подробно с расписанием, тематикой и техническими инструкциями по подключению можно ознакомиться на сайте Банка
  России www.cbr.ru (раздел «Финансовое просвещение», подраздел «Вебинары»). Все вебинары - абсолютно бесплатны.
</p>
<p>
  <b>
    Отделение по Тамбовской области
    Главного управления Банка России
    по Центральному федеральному округу
    телефон: 8 (4752) 79-30-10;
    68 media@cbr.ru
  </b>
</p>
<p>
  <img src="/assets/images/webinar.jpg" alt="">
</p>
