<p>
  Банк России принял решение снизить ключевую ставку до 9,25% годовых
</p>
<p>
  Совет директоров Банка России 28 апреля 2017 года принял решение снизить ключевую ставку до 9,25% годовых. Совет
  директоров отмечает приближение инфляции к целевому уровню и продолжающееся снижение инфляционных ожиданий, а также
  восстановление экономической активности. Вместе с тем инфляционные риски сохраняются. В условиях умеренно жесткой
  денежно-кредитной политики целевой уровень инфляции 4% будет достигнут до конца 2017 года и будет поддерживаться
  вблизи указанного уровня в 2018-2019 годах.</p>
<p>
  Принимая решение о ключевой ставке в дальнейшем, Банк России будет оценивать соотношение вероятностей реализации
  базового сценария (снижение цен на нефть до $40 за баррель) и сценария с ростом цен на нефть, а также дальнейшую
  динамику инфляции и развитие экономики относительно прогноза. При этом оценка Банком России возможного общего масштаба
  снижения ключевой ставки до конца 2017 года не изменилась.
</p>
<p>
  Информация предоставлена Пресс-службой Банка России.
</p>
<p>
  <img src="./assets/images/news/rub_17.jpg" alt=""/>
</p>
