<p>
  Банк России принял решение снизить ключевую ставку до 9,00% годовых
</p>
<p>
  Совет директоров Банка России 16 июня 2017 года принял решение снизить ключевую ставку до 9,00% годовых. Совет
  директоров отмечает сохранение инфляции вблизи целевого уровня, продолжающееся уменьшение инфляционных ожиданий, а
  также восстановление экономической активности. Краткосрочные инфляционные риски снизились, в то же время на
  среднесрочном горизонте они сохраняются. Для поддержания инфляции вблизи целевого значения 4% Банк России продолжит
  проведение умеренно жесткой денежно-кредитной политики.</p>
<p>
  Банк России видит пространство для снижения ключевой ставки во втором полугодии 2017 года. В дальнейшем, принимая
  решение, Банк России будет исходить из оценки инфляционных рисков, динамики инфляции и экономики относительно
  прогноза.
</p>
<p>
  <i>Информация предоставлена Пресс-службой Банка России</i>
</p>
