<p>
ЦБ утвердил перечень системно значимых банков
</p>
<p>
  	30 сентября 2016 года Центральный Банк утвердил перечень системно значимых кредитных организаций, на долю которых приходится более 60% совокупных активов российского банковского сектора.
  </p>
<p>
	В список вошли Сбербанк, ВТБ, Россельхозбанк, Газпромбанк, ФК Открытие, ЮниКредитБанк, Райффайзенбанк, Промсвязьбанк, Альфа-Банк и Росбанк.
	</p>
<p>
	На данные банки распространяются требования к соблюдению показателя краткосрочной ликвидности и дополнительные требования к достаточности капитала в соответствии с «Базелем III».
	</p>
<p>
	Показатель краткосрочной ликвидности (ПКЛ) в качестве пруденциального норматива, установлен для системно значимых банков в соответствии со статьей 57 федерального закона «О Центральном банке Российской Федерации (Банке России)», применяется с 1 января 2016 года. 
	</p>
<p>
	Таким образом, 5 кредитных организаций – партнёров Тамбовского областного ГУП «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» включены в данный перечень - ПАО «Сбербанк России», ПАО Банк «ВТБ», АО «Россельхозбанк», АО «Газпромбанк», ПАО «Промсвязьбанк».
</p>