<p>
	Лимит по кредитной программе «Шесть с половиной» на 2017 г. расширен до 100 млрд. руб.
</p>
<p>
	Центральный банк РФ расширил совокупный лимит по кредитной программе «Шесть с половиной», установленный по специализированным механизмам поддержки субъектов малого и среднего бизнеса, до 100 млрд. рублей. Об этом сообщил глава Акционерного общества «Федеральная корпорация по развитию малого и среднего предпринимательства» Александр Браверман в интервью	телеканалу «Россия 24».
</p>
 <p>
 	Программа Корпорации МСП «Шесть с половиной» разработана совместно с Минэкономразвития и Банком России. В рамках госпрограммы зафиксирована процентная ставка по кредитам в сумме не менее 10 млн. рублей для субъектов малого бизнеса на уровне 10,6% годовых, для среднего - 9,6% годовых. Кредитные организации, предоставляющие финансирование предпринимателям по этой программе, получают возможность рефинансирования в Банке России по ставке 6,5% годовых, поэтому программа получила второе название «Шесть с половиной».		
</p>
<p>
	В сентябре 2016 года совокупный лимит корпорации МСП по программе «Шесть с половиной» составлял 75 млрд. рублей, в текущем году Центробанк расширил лимит до 100 млрд. рублей. 
</p>
<p>
	Информация предоставлена Корпорацией МСП.
</p>
