<p>
  Предприниматели, представители банковского сообщества и госкорпораций полагают, что новый лимит программы кредитования
  для МСБ стоит направить на поддержку высокотехнологичных отраслей</p>
<p>
  В начале марта 2017 года первый вице-премьер РФ Игорь Шувалов заявил о том, что «Программа 6,5» (программа льготного
  кредитования субъектов малого и среднего предпринимательства - прим. ред.) будет продолжена, и правительство может
  выделить на нее средства из своих источников, несмотря на её изначально антикризисный характер.
</p>
<p>
  Ранее, в феврале 2017 года, он говорил о том, что программа льготного кредитования малого и среднего бизнеса
  «Программа 6,5» оказалась очень удачной, но она будет планомерно сворачиваться ввиду того, что жесткая фаза
  экономического кризиса прошла.
</p>
<p>
  «У нас понимание такое - Банк России не собирается ничего сворачивать. Я не принимал участия в Сочинском форуме, я был
  в поездках по среднеазиатским странам. Но я оттуда слышал сигнал, что мы увеличим даже программу, но скорее за счет
  правительственного источника. То есть мы эту программу будем поддерживать, но это не должен быть ресурс Центрального
  банка», - сказал вице-премьер.
</p>
<p>
  <strong>Мотивация для бизнеса</strong>
</p>
<p>«Программа 6,5» Корпорации по развитию малого и среднего предпринимательства была разработана совместно с
  Министерством экономического развития РФ и Банком России, и запущена в конце 2015 года. Основная цель программы -
  стимулирование роста высокотехнологичных отраслей малого и среднего бизнеса в России. В октябре 2016 года Центробанк
  выделил более 125 млрд. рублей на реализацию «Программы 6,5».</p>
<p>В рамках госпрограммы зафиксирована процентная ставка по кредитам в сумме не менее 10 млн. рублей для субъектов
  малого бизнеса на уровне 10,6% годовых, для среднего - 9,6% годовых. Кредитные организации, предоставляющие
  финансирование предпринимателям по этой программе, получают возможность рефинансирования в Банке России по ставке 6,5%
  годовых.</p>
<p>По мнению главы общественной организации по поддержке малого и среднего предпринимательства «Опора России» Александра
  Калинина, программа помогла справиться владельцам малых и средних компаний с последствиями экономического кризиса и
  санкциями против России. Кроме того, «Программа 6,5» являлась отличной мотивацией для начинающих предпринимателей,
  которые хотели реализовать бизнес-проекты в сфере промышленности.</p>
<p>«Запуск «Программы 6,5» являлся безусловным мотиватором для владельцев малого и среднего бизнеса, в особенности в
  условиях нестабильной экономической ситуации и ее результатов. Я считаю, что по программе однозначно нужно расширять
  лимит и список высокотехнологичных отраслей, а также снижать кредитный порог с 10 млн. рублей до 5 млн. рублей, чтобы
  доступ к программе имели и микропредприятия», - подчеркнул Калинин.</p>
<p>
  <strong>В приоритете - инвестпроекты</strong>
</p>
<p>
  Руководитель Корпорации МСП Александр Браверман считает, что основным партнерам по «Программе 6,5» - Сбербанку и ВТБ -
  стоит направить средства на поддержку инвестиционных проектов малого и среднего предпринимательства.
</p>
<p>
  «В этом году в рамках кредитной «Программы 6,5» опорные банки ВТБ и Сбербанк должны использовать средства на поддержку
  инвестиционных проектов сектора МСБ», - отметил Браверман.
</p>
<p>
  Также, по его словам, лимит по программе со стороны Центробанка на первое полугодие 2017 года в рамках двухуровневой
  системы поддержки обозначен и составляет 26,8 млрд. рублей.
</p>
<p>
  «В рамках полугодового лимита на 2017 год 13,4 млрд. рублей будут направлены трём системообразующим банкам - это
  Сбербанк, ВТБ и Россельхозбанк. А остальные 13,4 млрд. рублей получат опорные региональные банки, которые кредитуют
  субъектов МСБ», - пояснил он.
</p>
<p>
  Вице-президент, директор по GR Сбербанка Андрей Шаров полагает, что следует увеличить срок кредита по «Программе 6,5»
  с трёх до семи лет для увеличения объёма долгосрочных инвестпроектов.
</p>
<p>
  «Я считаю, что «Программу 6,5» следует использовать только в рамках инвестиционной поддержки компаний сектора МСБ.
  Кроме того, можно увеличить срок предоставления кредита с трёх до семи лет. Это позволит стимулировать реальный сектор
  экономики и действительно стоящие проекты, к примеру, высокотехнологичный промышленный сектор, фармацевтику или
  переработку отходов», - пояснил Шаров.
</p>
<p>
  <strong>Банковская выгода</strong>
</p>
<p>
  Старший вице-президент и руководитель блока «Малый и средний бизнес» Промсвязьбанка Александр Чернощекин считает, что
  в рамках закрепления новых акцентов по кредитной «Программе 6,5» на 2017 год следует учитывать и интерес банковского
  сообщества.
</p>
<p>
  «Среди мер по расширению программы мы предлагаем увеличить число приоритетных областей. Кроме того, необходимо
  актуализировать подходы к кредитованию инвестиционной деятельности предпринимателей, например, дотировать часть
  инвестиций на открытие собственного производства со стороны государства. Тогда это будет взаимовыгодно всем сторонам»,
  - сообщил Чернощекин.
</p>
<p>
  Бывший зампред Банка ВТБ Михаил Осеевский отмечает, что пока реализация льготного кредитования для МСБ по «Программе
  6,5» для госбанков практически остановилась.
</p>
<p>
  Источник: ТАСС
</p>
