<p>
	VI  Всероссийская конференция «Развитие системы инфраструктуры поддержки субъектов малого и среднего предпринимательства»
</p>
<p>
	Директор Фонда содействия кредитованию малого среднего предпринимательства Тамбовской области Блудов Андрей Михайлович  принял участие в VI Всероссийской конференции «Развитие системы инфраструктуры поддержки субъектов малого и среднего предпринимательства», которая прошла с 24 по 26 ноября 2016 года в г.Челябинске. 
</p>
<p>
	На конференции были рассмотрены актуальные на сегодняшний день вопросы реализации Стратегии развития малого и среднего предпринимательства в Российской Федерации до 2030 года, развития малого и среднего предпринимательства в условиях меняющегося экономического климата и структурных изменений в системе поддержки предпринимательства.
</p>
<p>
	Ключевым выступлением пленарного заседания конференции стал доклад директора департамента развития малого и среднего предпринимательства и конкуренции Минэкономразвития  России Максима Паршина. Он рассказал о кардинальных изменениях в системе поддержки предпринимательства в 2017 году.
</p>
<p>
	По мнению Минэкономразвития РФ, необходимо постепенно переходить от прямых невозвратных субсидий бизнесу на микрозаймовую и гарантийную систему, поддержку лизинга. В условиях сокращения финансирования программы поддержки предпринимательства, Минэкономразвития России планирует выделение субсидий только на создание и развитие организаций инфраструктуры поддержки МСП, образовательные проекты для граждан и начинающих предпринимателей, бизнес в моногородах. 
</p>