<p>
	Изменения параметров Программы стимулирования кредитования МСП.
</p>
<p>
	В связи с увеличением Центробанком совокупного лимита по программе льготного кредитования с 75 млрд до 125 млрд рублей и невозможностью собственников малых предприятий взять кредит в 50 млн рублей, 3 октября Совет директоров АО «Федеральная корпорация по развитию малого и среднего предпринимательства» утвердил изменения в Программе стимулирования кредитования субъектов малого и среднего предпринимательства. Отныне размер одного кредита, предоставляемого по Программе 6,5, может составлять не менее 10 млн рублей и не более 1 млрд рублей.
</p>
<p>
   	Решение принято во исполнение поручения Председателя Правительства России Дмитрия Медведева, данное по итогам встречи с представителями малого и среднего предпринимательства в Республике Бурятия 7 сентября 2016 года.
</p>
<p>
   	Отмечается также, что повышению доступности льготного финансирования предпринимателей будет способствовать и расширение состава уполномоченных опорных региональных банков – участников Программы 6,5.
</p>
<p>
   	Помимо этого, с 1 октября 2016 г. снижаются ставки по кредитам, выдаваемым малым и средним предприятиям при поддержке Корпорации МСП. Это стало возможным за счет уменьшения размеров комиссии Корпорации за предоставление в рамках Программы 6,5 гарантий и поручительств Корпорации перед Банком России за уполномоченные банки.
</p>
<p>
   	Так, размер комиссии при предоставлении поручительств снижен с 0,5% годовых до 0,1%. При этом предельная конечная ставка по кредитам, предоставляемым уполномоченными банками в рамках Программы, составит 10,6% годовых для субъектов малого предпринимательства (ранее – 11%) и 9,6% годовых для субъектов среднего предпринимательства (ранее – 10%).
</p>
<p>
   	Размер комиссии за предоставление независимой гарантии снижен с 1,25% до 0,75% годовых.
</p>