<p>
  Госдума приняла закон о создании реестра субъектов МСП
</p>

<p>23 декабря 2015 года на заседании Государственной Думы в третьем чтении принят разработанный Минэкономразвития России совместно с ФНС России и Федеральной корпорацией по развитию МСП законопроект, предусматривающий создание единого реестра субъектов МСП.</p>

<p>В закон о развитии малого и среднего предпринимательства добавляется новая статья, в которой устанавливается порядок ведения реестра и перечень включаемых в него сведений, а также уточняются требования к организациям и индивидуальным предпринимателям, которые могут считаться субъектами МСП.</p>

<p>В реестр будет внесен широкий круг сведений – не только о категории субъекта малого и среднего предпринимательства, но и о видах деятельности, производимой продукции, полученных лицензиях, участии малых и средних предприятий в закупках для нужд органов государственной власти и крупнейших государственных компаний.</p>

<p>Дополнительной нагрузки на субъекты МСП это не окажет, так как основной блок сведений будет предоставлять Федеральная налоговая служба.</p>

<p>Реестр будет сформирован 1 августа 2016 года.</p>

<p>Документом также корректируются задачи Федеральной корпорации по развитию МСП. В частности, корпорация будет оказывать финансовую и иную поддержку субъектам МСП для стимулирования их развития в качестве потенциальных поставщиков при осуществлении закупок отдельными заказчиками, определенными Правительством РФ.</p>

<p>Информация предоставлена Минэкономразвития России</p>
