<p>Знаменским предпринимателям рассказали о мерах поддержки.</p>
<p>В администрации Знаменского района, при участии Фонда содействия кредитованию МСП, состоялось совещание по вопросам предоставления мер государственной поддержки субъектам малого и среднего предпринимательства. В ходе мероприятия предпринимателей проинформировали о существующих и новых возможностях Фонда. Наибольший интерес у предпринимателей вызвала возможность прямого предоставления Фондом финансовых средств предприятиям малого и среднего бизнеса в размере до 3 млн. рублей с размером ставки, не превышающей ключевую ставку Банка России.</p>
<p>
  <img src="/assets/images/news/01news09-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news09-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/03news09-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/04news09-08-2016.jpg" alt="">
</p>
