<p>
	Минэкономразвития направило в Правительство проект распоряжения о распределении субсидий субъектам РФ на поддержку МСП
</p>
<p>
	Министерство экономического развития РФ  направило в  Правительство РФ проект распоряжения о распределении бюджетам субъектов субсидий на государственную поддержку малого и среднего предпринимательства, а также на реализацию мероприятий по поддержке молодежного предпринимательства.
</p>
<p>
	Министерством в сжатые сроки проведено рассмотрение на комиссии мероприятий, заявленных субъектами РФ к софинансированию за счет средств федерального бюджета. 
</p>
<p>
	Статс-секретарь – заместитель Министра экономического развития РФ Олег  Фомичев отметил, что с учетом изменения общих подходов к межбюджетным отношениям и необходимости приоритизации затрат, программа Минэкономразвития эволюционирует - меняются ее основные акценты. «На первый план сегодня выходят мероприятия, связанные с переформатированием работы сети организаций, образующих инфраструктуру поддержки, внедрением сервисной модели ее оказания, в том числе с помощью создания МФЦ для бизнеса», - сообщил он.
</p>
<p>
	В соответствии с решением комиссии и озвученными на заседании результатами рассмотрения мероприятий субъектов РФ Минэкономразвития России распределено более 7,5 млрд. рублей для предоставления субсидий регионам. 
</p>
<p>
	До 1 марта, в соответствии со сроком, установленным Правительством, необходимо заключить соответствующие соглашения о предоставлении субсидии.
</p>
<p>
	Директор Департамента развития малого и среднего предпринимательства и конкуренции Минэкономразвития России Максим Паршин обратил особое внимание на то, что субъекты РФ должны обеспечить слаженную и оперативную работу по внесению изменений в региональные законы о бюджете и государственные программы (подпрограммы) субъектов РФ.
</p>
<p>
	Тамбовская область по предварительным данным получит субсидию в размере 70 млн. рублей.
</p>
<p>
	Информация предоставлена Минэкономразвития России
</p>
