<p>
	VII  Международный Форум молодых предпринимателей в Ярославской области.
</p>
<p>
	17-19 февраля 2017 года в Ярославской области в ЦЛС «Дёмино» будет проходить VII Международный Форум молодых предпринимателей «Стратегия. Миссия. Перспектива-2017».
</p>
<p>
	Форум ежегодно собирает более 300 представителей бизнеса, с более чем 25 регионов РФ и стран мира.
</p>
<p>
	СМП-2017 приглашает рассказать о себе и своем бизнесе, проекте, регионе, стране. На Форуме предоставляется возможность получить знания, познакомиться с интересными экспертами-практиками, заручиться поддержкой возможных инвесторов и установить деловые коммуникации и потенциальными партнерами, коллегами из других регионов и стран.
</p>
<p>
	<a href="http://www.smp-forum.ru/" rel="noreferrer">
		http://www.smp-forum.ru/
	</a>
</p>