<p>В администрации Токаревского района прошел круглый стол по вопросам развития малого и среднего предпринимательства.</p>

 <p>В работе круглого стола приняли участие представители Фонда содействия кредитованию малого и среднего предпринимательства, управления по развитию промышленности и предпринимательства Тамбовской области, первый заместитель главы администрации района С.М. Романов и предприниматели Токаревского района. 
Предприниматели были подробно проинформированы участниками мероприятия о существующих на сегодняшний день формах и мерах государственной поддержки малого и среднего предпринимательства. Затем в ходе состоявшейся дискуссии были рассмотрены проблемные вопросы, связанные с развитием малого и среднего бизнеса. 
</p>
 <p>
  <img src="/assets/images/news/01news29-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news29-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/03news29-08-2016.jpg" alt="">
</p>