<p>
Расширяется спектр финансовых организаций – партнёров Тамбовского областного ГУП «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области».
</p>
<p>
  	04.10.2016 г. состоялось заседание конкурсной комиссии по отбору банков при принятии решения о заключении соглашения о сотрудничестве с банками, предусматривающего предоставление Фондом поручительств по обязательствам (кредитным договорам) субъектов малого и среднего предпринимательства. 
  </p>
	<p>
	В результате оценки поданных заявок победителями признаны ПАО «ТРАНСКАПИТАЛБАНК» и ПАО Банк «Финансовая Корпорация Открытие». Соглашения будут подписаны в течение 20 дней с даты уведомления победителей о результатах конкурсного отбора.
</p>

<p>
	<a href="/doc/protokol/01Протокол.pdf">Скачать протокол</a>
</p>