<p>
  Конференция с предпринимателями Знаменского района
</p>
<p>
  18 мая 2017 года в администрации Знаменского района была проведена районная конференция с представителями субъектов
  малого и среднего предпринимательства. На данном мероприятии были рассмотрены вопросы современного состояния бизнеса и
  ближайшие перспективы его развития, подведены итоги районного конкурса «Лучший предприниматель года - 2016», избраны
  делегаты на XVII областную конференцию предпринимателей.
</p>
<p>
  В работе конференции принял участие генеральный директор АО МК «Фонда содействия кредитованию малого и среднего
  предпринимательства Тамбовской области» (далее - Фонд) А.М. Блудов, который рассказал о мерах поддержки субъектов
  малого и среднего предпринимательства. Особый акцент был сделан на монопрофильные муниципальные образования, для
  которых Фондом был разработан специальный финансовый продукт - микрозайм «Моногород». Условия, предоставления
  указанного микрозайма, заинтересовали предпринимателей, в результате чего сложился живой диалог.
</p>
<p>
  <img src="assets/images/news_4.jpg" alt="">
</p>
<p>
  <img src="assets/images/news_5.jpg" alt="">
</p>
<p>
  <img src="assets/images/news_6.jpg" alt="">
</p>
