<p><b>Государственная поддержка модернизации аграрного производства и устойчивого развития сельских территорий</b></p>
<p>
3 февраля 2016 года стартовала серия выездных семинар-совещаний под руководством заместителя главы администрации Тамбовской области Сергея Владимировича Иванова на тему: «Государственная поддержка модернизации аграрного производства и устойчивого развития сельских территорий».
</p>
<p>
03.02.2016 г. – Рассказовский район; 04.02.2016 г. – Умётский, Кирсановский, Гавриловский районы; 05.02.2016 г. – Моршанский, Пичаевский, Бондарский районы; 08.02.2016 г. – Тамбовский район; 09.02.2016 г. – Староюрьевский, Первомайский районы.
</p>
<p>
В рамках проводимых встреч освещаются основные меры государственной поддержки агропромышленного комплекса в 2016 году, подготовка к весенне-полевым работам, условия кредитования предприятий агропромышленного комплекса в 2016 году.
</p>
<p>
Участие в совещаниях принимает директор Тамбовского областного ГУП «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» Андрей Михайлович Блудов, который информирует сельхозтоваропроизводителей региона о формах финансовой поддержки оказываемых Фондом. 
</p>
<p>
	<img src="https://s3.eu-central-1.amazonaws.com/fsc-tambov/images/08.02.2016.jpg" style="width: 100%;"/>
</p>
