<p>
	Утверждён состав проектного комитета по основному направлению стратегического развития Российской Федерации «Малый бизнес и поддержка индивидуальной предпринимательской инициативы»
</p>
<p>
	Утвержден состав проектного комитета по основному направлению стратегического развития Российской Федерации «Малый бизнес и поддержка индивидуальной предпринимательской инициативы».
</p>
<p>
	Состав утвержден президиумом Совета при Президенте Российской Федерации по стратегическому развитию и приоритетным проектам. В него вошли:
</p>
<p>
	<ul class="list" >
		<li style="display: list-item;">
			Шувалов И.И. - Первый заместитель Председателя Правительства Российской Федерации (председатель проектного комитета);
		</li>
		<li style="display: list-item;">
			Аксаков А.Г. - президент Ассоциации региональных банков России (по согласованию);
		</li>
		<li style="display: list-item;">
			Блудян М.А. - вице-президент Общероссийской общественной организации малого и среднего предпринимательства «ОПОРА РОССИИ» (по согласованию);
		</li>
		<li style="display: list-item;">		
			Браверман А.А. - генеральный директор АО «Корпорация «МСП»;
		</li>
		<li style="display: list-item;">		
			Григоренко Д.Ю. - заместитель Руководителя Федеральной налоговой службы;
		</li>
		<li style="display: list-item;">	
			Григоров А.А. - заместитель директора Департамента экономики и финансов Правительства Российской Федерации;
		</li>
		<li style="display: list-item;">		
			Иванов А.Ю. - заместитель Министра финансов Российской Федерации;
		</li>
		<li style="display: list-item;">	
			Никитин А.С. - генеральный директор АНО «Агентство стратегических инициатив по продвижению новых проектов» (по согласованию);
		</li>
		<li style="display: list-item;">
			Носков К.Ю. - руководитель Аналитического центра при Правительстве Российской Федерации;
		</li>
		<li style="display: list-item;">
			Орлова С.Ю. - Губернатор Владимирской области (по согласованию);
		</li>
		<li style="display: list-item;">
			Сабуркина А.А. - референт Департамента проектной деятельности Правительства Российской Федерации (ответственный секретарь проектного комитета);
		</li>
		<li style="display: list-item;">
			Тосунян Г.А. - президент Ассоциации российских банков (по согласованию);
		</li>
		<li style="display: list-item;">
			Тулин Д.В. - первый заместитель Председателя  Центрального банка Российской Федерации (по согласованию);
		</li>
		<li style="display: list-item;">
			Фомичев О.В. - статс-секретарь - заместитель Министра экономического развития Российской Федерации;
		</li>
		<li style="display: list-item;">
			Хатуов Д.Х. - первый заместитель Министра сельского хозяйства Российской Федерации;
		</li>
		<li style="display: list-item;">
			Чабунин А.М. - вице-президент по вопросам закупочной деятельности, контроля и аудита ОАО «РЖД» (по согласованию);
		</li>
	</ul>
</p>
<p>
	Информация предоставлена Правительством РФ
</p>