<p>
  <strong>Минимальная сумма кредита по «Программе 6,5» снижена до 5 млн. рублей</strong>
</p>
<p>
  На очередном заседании Совета директоров АО «Корпорация «МСП» под председательством Министра экономического развития
  РФ Максима Орешкина рассматривался вопрос о снижении минимальной суммы при предоставлении кредитов по Программе
  стимулирования кредитования субъектов малого и среднего предпринимательства (далее - «Программа 6,5»).
<p>
  В феврале 2017 года Советом директоров Корпорации была утверждена новая редакция Программы, согласно которой в
  перечень конечных заемщиков вошли индивидуальные предприниматели. Их потребность в кредитовании часто находится ниже
  10 млн. рублей (действующая минимальная сумма кредита по «Программе 6,5»). На заседании совета Директоров принято
  решение понизить минимальную сумму кредита по «Программе 6,5» до 5 млн. рублей без изменения ее отраслевых
  приоритетов, что позволит увеличить объемы кредитования малого и микробизнеса.
</p>
<p>
  Учитывая принятое решение по снижению, а также то, что средние и опорные региональные уполномоченные банки – участники
  Программы значительную долю кредитного портфеля формируют за счет кратко - и среднесрочных оборотных кредитов Совет
  директоров определил установленное соотношение совокупного объема оборотных и инвестиционных кредитов (50 на 50)
  применять только по отношению к уполномоченным банкам, относящимся к банкам первой группы (АО «Россельхозбанк», Банк
  ВТБ (ПАО), ПАО Сбербанк).
</p>
<p>
  Источник: http://economy.gov.ru
</p>
