<p>
	О кредитовании сельскохозяйственных товаропроизводителей по льготной ставке
</p>
<p>
	Постановлением Правительства Российской Федерации от 29 декабря 2016 года №1528 утверждены Правила предоставления из федерального бюджета субсидий российским кредитным организациям на возмещение недополученных ими доходов по кредитам, выданным сельскохозяйственным товаропроизводителям, организациям и индивидуальным предпринимателям, осуществляющим производство, первичную и (или) последующую (промышленную) переработку сельскохозяйственной продукции и её реализацию, по льготной ставке (далее, соответственно, – Правила, субсидии).
</p>
<p>
	Правилами предусматривается, что субсидии будут предоставляться системно значимым российским кредитным организациям, а также российским кредитным организациям, отобранным Минсельхозом России (далее – уполномоченный банк). Правилами утверждены критерии отбора таких уполномоченных банков. В частности, критериями отбора предусмотрено наличие у банка собственных средств (капитала) в размере не менее 20 млрд. рублей, а также специализированных кредитных продуктов и программ для организаций агропромышленного комплекса. 
</p>
<p>
	Субсидии будут предоставляться начиная с 2017 года банкам, участвующим в реализации нового механизма льготного кредитования сельхозтоваропроизводителей, на возмещение недополученных ими доходов в размере 100% ключевой ставки Банка России по кредитам, выданным по ставке не более 5%.
</p>
<p>
	Заёмщик самостоятельно будет выбирать уполномоченный банк для получения льготного краткосрочного кредита и (или) льготного инвестиционного кредита. 
</p>
<p>
	Правилами также устанавливаются требования к заёмщику и заявке на получение субсидии, порядок формирования Минсельхозом России прогноза кредитования и плана льготного кредитования заёмщиков на очередной финансовый год, сроки предоставления субсидий уполномоченному банку, перечень показателей результативности предоставления субсидий и другие положения.
</p>
<p>
	Постановление вступило в силу с 1 января 2017 года, так как предприятия и организации агропромышленного комплекса нуждаются в привлечении краткосрочных кредитов на пополнение оборотных средств  для проведения весенней полевой кампании.
</p>
<p>
	Принятое решение позволит повысить доступность кредитования для АПК и снизить финансовую нагрузку на сельскохозяйственных товаропроизводителей. 
</p>
<p>
	Информация предоставлена Правительством Российской Федерации
</p>
