<p><b>О распределении субсидий субъектам Федерации на государственную поддержку малого и среднего предпринимательства</b></p>

<p>Распоряжением Правительства Российской Федерации от 7 марта 2016 года № 389-р распределены субсидии в объёме 9,61 млрд. рублей, предоставляемые в 2016 году из федерального бюджета бюджетам субъектов Федерации на государственную поддержку малого и среднего предпринимательства, включая крестьянские (фермерские) хозяйства.</p>

<p>Средства распределяются в соответствии с Правилами предоставления и распределения субсидий из федерального бюджета бюджетам субъектов Федерации на эти цели. При этом учитывается доля постоянного населения в субъекте Федерации на 1 января отчетного года, уровень бюджетной обеспеченности и эффективности использования субсидии, предоставленной в 2014 году, по состоянию на 1 октября 2015 года. Тамбовская область в соответствии с распределением сможет получить 68 564 499 рублей.</p>

<p>Принятое решение будет способствовать увеличению капитализации государственных программ субъектов Федерации и (или) муниципальных программ, направленных на развитие малого и среднего предпринимательства. Это позволит расширить круг субъектов малого и среднего бизнеса, которым будет оказана финансовая поддержка.</p>

<p><br/><br/>Информация предоставлена Правительством Российской Федерации</p>