<p>
	Банк России принял решение сохранить ключевую ставку на уровне 10,00% годовых
</p>
<p>
	Совет директоров Банка России 16 декабря 2016 года принял решение сохранить ключевую ставку на уровне 10,00% годовых. Совет директоров отмечает, что динамика инфляции и экономической активности в целом соответствует прогнозу, инфляционные риски несколько снизились. При этом замедление темпа роста потребительских цен отчасти обусловлено влиянием временных факторов, а снижение инфляционных ожиданий остается неустойчивым. С учетом принятого решения и сохранения умеренно жесткой денежно-кредитной политики инфляция замедлится до целевого уровня 4% в конце 2017 года. По мере закрепления тенденции к устойчивому снижению темпа роста потребительских цен Банк России рассмотрит возможность снижения ключевой ставки в первом полугодии 2017 года. При принятии решения о ключевой ставке на ближайших заседаниях Банк России будет оценивать инфляционные риски и соответствие динамики экономики и инфляции базовому прогнозу.
</p>
<p>
	Следующее заседание Совета директоров Банка России, на котором будет рассматриваться вопрос об уровне ключевой ставки, запланировано на 3февраля 2017 года.
</p>
<p>
	Информация предоставлена Пресс-службой Банка России.
</p>

