<p><b>Корпорация МСП приступает к проведению исследований спроса и потребления товаров и услуг в регионах в рамках создания Маркетингового навигатора МСП</b></p>
<p>В рамках реализации функции маркетинговой и информационной поддержки субъектов МСП АО «Корпорация «МСП» 3 февраля 2016 года объявила открытый конкурс на выполнение работ по проведению маркетинговых исследований платежеспособного спроса и текущего потребления товаров и услуг различных категорий домохозяйствами (гражданами) в целевых городах Российской Федерации.</p>
<p>Уникальные данные, которые будут получены по результатам исследований, позволят изучить спрос на 200 товаров ежедневного потребления и 100 видов услуг жителями 76 целевых городов Российской Федерации, в том числе г. Тамбов, представляющих около 60 млн. граждан РФ.</p>
<p>Данные о платежеспособном спросе и текущем потреблении домохозяйств планируется интегрировать в геомаркетинговую информационно-аналитическую систему «Маркетинговый навигатор МСП» для решения субъектами малого и среднего предпринимательства следующих задач:</p>
<p>
- поиск свободных рыночных ниш;<br/>
- получение информации о емкости рынка и профиле потенциальных потребителей;<br/>
- получение индикативного типового бизнес-плана.<br/>
<br/>
Для реализации такого масштабного и беспрецедентного проекта к участию в конкурсе приглашаются опытные специализированные агентства по проведению маркетинговых исследований, обладающие современными технологиями сбора и обработки данных.
</p>
