<p><b>Все моногорода России теперь могут рассчитывать на поддержку Фонда развития</b></p>

<p>Председатель правительства РФ Дмитрий Медведев 17 июня 2016 года подписал постановление №549, согласно которому все 319 моногородов России могут претендовать на поддержку Некоммерческой организации «Фонд развития моногородов» (далее - ФРМ). Согласно документу, ФРМ сможет финансировать инвестиционную деятельность во всех моногородах, создавать инфраструктуру для новых инвестиционных проектов, а также формировать и обучать в моногородах управленческие команды.</p>

<p>По мнению генерального директора ФРМ Ильи Кривогова, расширение деятельности Фонда на все моногорода поможет стабилизировать социально- экономическую ситуацию за счет запуска альтернативных производств и привлечения инвестиций. Теперь все моногорода страны смогут воспользоваться финансовыми и нефинансовыми мерами поддержки Фонда, в числе последних — обучение управленческих команд из моногородов на базе «Сколково».</p>

<p>В список монопрофильных муниципальных образований Российской Федерации со стабильной социально-экономической ситуацией вошли 2 населенных пункта Тамбовской области: город Котовск и пгт. Знаменка.</p>

<p>Фонд развития моногородов был создан в 2014 году, на его работу в период с 2014 по 2017 годы предполагается выделить из федерального бюджета 29,6 млрд. рублей. За время своей работы Фонд инвестировал более 6 млрд. рублей в инфраструктуру моногородов. На 2016 год в бюджет Фонда заложено 7,2 млрд. рублей.</p>

<p><i>Информация предоставлена Информационным агентством России</i></p>
