<p>Объявленъ конкурс по отбору банков в целях заключения соглашения о сотрудничестве по предоставлению поручительств.</p>

	<P>Тамбовское областное государственное унитарное предприятие «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» извещает о проведении дополнительного конкурсного отбора банков при принятии решения о заключении соглашения о сотрудничестве с банками, предусматривающего предоставление поручительства Тамбовского областного государственного унитарного предприятия «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» по обязательствам субъектов малого и среднего предпринимательства перед банками. 
</p>
<p>
  Конкурсная документация - <a href="/doc/contest/25.08.2016/DocKonkurs.zip">Скачать</a>
</p>

