<p>
  Министерство экономического развития РФ внесет в правительство законопроект о социальном предпринимательстве до конца
  марта
</p>
<p>
  Минэкономразвития РФ внесет в правительство законопроект о социальном предпринимательстве до конца марта, рассчитывает
  на принятие его в Госдуме в весеннюю сессию, заявил статс-секретарь, замглавы министерства Олег Фомичев в ходе встречи
  с предпринимателями Тульской области. «Мы в течение месяца в правительство внесем, до конца этой сессии, я надеюсь, мы
  примем соответствующий законопроект, тем более что и Совет Федерации, и Госдума предварительно его поддерживают. Пока
  у нас только с Минтруда есть определенные разногласия», - сказал Фомичев.
</p>
<p>
  Летом прошлого года Минэкономразвития подготовило законопроект, направленный на законодательное определение понятия
  «социальное предпринимательство».
</p>
<p>
  Проект закона определяет основные критерии отнесения малых и средних предприятий (МСП) к субъектам социального
  предпринимательства, в том числе специализация компании на производстве продукции и предоставлении услуг в интересах
  граждан, находящихся в трудной жизненной ситуации, или создание рабочих мест для таких граждан.
</p>
<p>
  Ожидается, что сведения о субъектах социального предпринимательства будут внесены в единый реестр субъектов МСП,
  ведением которого с августа 2016 года занимается Федеральная налоговая служба.
</p>
<p>Отдельная статья законопроекта определяет единые принципы оказания поддержки субъектам социального
  предпринимательства. Такую помощь будут осуществлять органы государственной власти и органы местного самоуправления в
  виде создания и развития специализированных организаций инфраструктуры поддержки субъектов социального
  предпринимательства, предоставления на льготных условиях помещений, создания банков франшиз, реализации
  образовательных мероприятий, организации доступа к осуществлению функций социального обслуживания граждан.
  Дополнительно предусматривается возможность заключения договоров аренды государственного или муниципального имущества
  без проведения торгов.</p>
<p>
  Источник: http://www.finanz.ru/
</p>
