<p>ФНС России переходит на новые коды ОКВЭД при регистрации ЮЛ и ИП</p>

<p>С 11 июля 2016 года при государственной регистрации юридических лиц и индивидуальных предпринимателей применяются новые коды ОКВЭД. Приказ ФНС России об изменении кодов от 25 мая 2016 года № ММВ-7-14/333@ вступает в силу 28 июня (зарегистрирован в Минюсте России 16 июня 2016 года, регистрационный номер 42555).</p>

<p>До 11 июля при указании видов экономической деятельности в заявлениях на государственную регистрацию юридических лиц и индивидуальных предпринимателей рекомендуется использовать Общероссийский классификатор видов экономической деятельности (ОКВЭД) ОК 029-2001 (КДЕС Ред. 1) (ОКВЭД КДЕС Ред. 1)</p>

<p>После 11 июля необходимо указывать коды из Общероссийского классификатора видов экономической деятельности (ОКВЭД2) ОК 029-2014 (КДЕС Ред. 2) (ОКВЭД 2 КДЕС Ред. 2). Приведение сведений о видах экономической деятельности ЮЛ и ИП, внесенных в ЕГРЮЛ и ЕГРИП до 11 июля 2016 года, в соответствие с ОКВЭД КДЕС Ред. 2 пройдет автоматически с учетом переходных ключей между ОКВЭД КДЕС Ред. 1 и ОКВЭД 2 КДЕС Ред. 2, разработанных Министерством экономического развития Российской Федерации.</p>

<p><i>Информация предоставлена <a href="http://www.nalog.ru/rn68/news/activities_fts/6092584/" target="_blank">www.nalog.ru/rn68/news/activities_fts/6092584/</a></i></p>
