<p><b>Банк России сохранил ключевую ставку на уровне 11,00% годовых</b></p>
<p>Совет директоров Банка России 18 марта 2016 года принял решение ключевую ставку на уровне 11,00% годовых.</p>
<p>Несмотря на некоторую стабилизацию на финансовых и товарных рынках и замедление инфляции, инфляционные риски остаются высокими. Они связаны с конъюнктурой нефтяного рынка, сохранением инфляционных ожиданий на высоком уровне, неопределенностью отдельных параметров бюджета. Для достижения цели по инфляции Банк России может проводить умеренно жесткую денежно-кредитную политику в течение более продолжительного времени, чем предполагалось ранее. По прогнозу Банка России, с учетом принятого решения годовая инфляция составит менее 6% в марте 2017 года и достигнет целевого уровня 4% в конце 2017 года.</p>
<p>Следующее заседание Совета директоров Банка России, на котором будет рассматриваться вопрос об уровне ключевой ставки, запланировано на 29 апреля 2016</p>
<br/>
<br/>
<p><i>Информация предоставлена Пресс-службой Банка России.</i></p>