<p>Круглый стол с предпринимателями Сампурского района.</p>
<p>Представители Фонда провели круглый стол на тему «Механизмы государственной поддержки субъектов малого и среднего предпринимательства и условия её предоставления» в администрации Сампурского района. В работе круглого стола приняли участие сотрудники администрации Сампурского района, а также руководители малых предприятий района. После тематических выступлений состоялся обмен мнениями. Были даны ответы на интересующие предпринимателей вопросы. По итогам работы определены направления сотрудничества, порядок и формы взаимодействия заинтересованных сторон.
</p>
 <p>
  <img src="/assets/images/news/01news24-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news24-08-2016.jpg" alt="">
</p>