<p>Выездной семинар в Пичаевском и Бондарском районах.</p>
<p>Представители Фонда содействия кредитованию малого и среднего предпринимательства вместе с руководителями областных структурных подразделений провели выездной семинар с представителями малого и среднего предпринимательства Пичаевского и Бондарского районов на тему «Механизмы государственной поддержки субъектов малого и среднего предпринимательства и условия её предоставления». Выступающие ответили на вопросы, связанные с оказанием поддержки субъектов малого и среднего предпринимательства на всех уровнях управления, а также проинформировали присутствующих о существующих и новых возможностях Фонда.
</p>
 <p>
  <img src="/assets/images/news/01news22-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news22-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/03news22-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/04news22-08-2016.jpg" alt="">
</p>