<p>
	<b>
		К сведению предпринимателей!
		<br/><br/>
		Банк-партнёр Фонда – Банк ВТБ запускает акцию по рефинансированию кредитов для малого бизнеса "Умный Малый".
	</b>
</p>
<p>
	В банке ВТБ стартовала акция по рефинансированию кредитов "Умный Малый", в рамках которой индивидуальным предпринимателям и компаниям малого бизнеса предоставляется возможность получить кредит в банке ВТБ на льготных условиях - со скидкой до 5%. 
</p>
<p>
	В соответствии с условиями акции представителям малого бизнеса, у которых есть действующий кредит в другом банке, ВТБ предоставляет заемные средства, в том числе для погашения кредита сторонней кредитной организации, по ставке до минус 5 процентных пунктов от ставки другого банка, но не ниже 12,8%.  
</p>
<p>
	Акция действует при подаче анкеты-заявки на кредит до 15 декабря 2016 года и при заключении кредитного договора с банком до 30 декабря 2016 года включительно. Клиенты, обратившиеся в ВТБ с заявкой на кредит до 15 ноября 2016 года, получат максимальную скидку 5%. 
</p>
<P>
	Максим Лукьянович, руководитель дирекции малого бизнеса банка ВТБ, прокомментировал: «Малый бизнес  - очень важный и чувствительный сегмент, который необходимо поддерживать. Именно поэтому мы постоянно работаем над тем, чтобы финансовые продукты для этих компаний сделать максимально доступными. Сейчас мы делаем беспрецедентное предложение по рефинансированию, которое позволит предпринимателям значительно снизить ежемесячные платежи по кредиту, получить дополнительные денежные средства и достичь максимальной эффективности в бизнесе». 
</P>
<P>
	Скидка по процентной ставке предоставляется в зависимости от срока подачи анкеты-заявки на кредит:  
	<ul>
		<li>до 15.11.2016 – max скидка 5%;</li>
		<li>до 01.12.2016 – max скидка 4,5%;</li>
		<li>до 15.12.2016 – max скидка 4%.</li>
	</ul>
</p>