<p>В Мичуринске прошел День садовода!</p>

<p>
  <img src="../../../assets/images/news/04.09.2015-1.jpg" alt="">
</p>

<p>04 сентября в Мичуринске прошла Всероссийская выставка «День садовода». В этом году она стала уже десятой по счёту и совпала с празднованием 160-летия со дня рождения учёного и селекционера Ивана Мичурина. </p>
<p>Свои достижения на выставке представили садоводы со всей России, а старт её работе дал временно исполняющий обязанности главы администрации области Александр Никитин. Торговые павильоны и палатки заняли весь центр города.  На украшенных прилавках расположились самые разнообразные  и лучшие товары: продовольственные и сельскохозяйственные продукты, изделия из шерсти, льна, деревянные поделки, украшения. В сквере развернулся целый город мастеров. В центре площади гостей ярмарки впечатляла размерами сельскохозяйственная техника агрохолдинга «Корнев Групп».</p>

<p>
  <img src="../../../assets/images/news/04.09.2015-2.jpg" alt="">
</p>

<p>
  <img src="../../../assets/images/news/04.09.2015-3.jpg" alt="">
</p>

<p>
  <img src="../../../assets/images/news/04.09.2015-4.jpg" alt="">
</p>

<p>
  <img src="../../../assets/images/news/04.09.2015-5.jpg" alt="">
</p>

<p>Тамбовское областное ГУП «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» также приняло участие  в выставке  совместно с банками – партнёрами -  АО «Россельхозбанк» и ПАО «Сбербанк России».  Для  субъектов малого и среднего предпринимательства,  принявших участие в ярмарке были  анонсированы формы финансовой  поддержки, которые оказывает Фонд, а именно:</p>
<p>- предоставление поручительств по кредитным договорам;</p>
<p>- предоставление поручительств по договорам финансовой аренды (лизингу); </p>
<p>- предоставление поручительств по договорам о предоставлении банковской гарантии.</p>

<p>
  <img src="../../../assets/images/news/04.09.2015-6.jpg" alt="">
</p>
<p>
  <img src="../../../assets/images/news/04.09.2015-7.jpg" alt="">
</p>
<p>
  <img src="../../../assets/images/news/04.09.2015-8.jpg" alt="">
</p>