<p>
  Ежегодная итоговая конференция с субъектами малого и среднего предпринимательства города Уварово
</p>
<p>
  В рамках предстоящего Дня российского предпринимательства 12 мая 2017 года прошла Ежегодная итоговая конференция с
  субъектами малого и среднего предпринимательства города Уварово.
</p>
<p>
  Перед собравшимися предпринимателями выступили глава города Уварово, представители налоговой инспекции, Центра гигиены
  и эпидемиологии, ТОГКУ «Многофункциональный центр предоставления государственных и муниципальных услуг» (МФЦ),
  прокуратуры и др.
</p>
<p>
  В данной конференции принял участие заместитель генерального директора АО МК «Фонд содействия кредитованию малого и
  среднего предпринимательства Тамбовской области» (далее - Фонд) А.Н. Шепелёв, который рассказал присутствующим о
  деятельности Фонда, перспективах его развития и тех мерах финансовой и иной поддержки, которую Фонд оказывает
  предпринимателям.
</p>
<p>
  <img src="/assets/images/6.jpg" alt="">
</p>
<p>
  <img src="/assets/images/7.jpg" alt="">
</p>
<p>
  <img src="/assets/images/8.jpg" alt="">
</p>
<p>
  <img src="/assets/images/9.jpg" alt="">
</p>
