<p><b>О предельных значениях дохода от предпринимательской деятельности для субъектов малого и среднего предпринимательства</b></p>

<p>Постановлением Правительства от 4 апреля 2016 года № 265 установлены предельные значения дохода от предпринимательской деятельности для субъектов малого и среднего предпринимательства.

<p>Федеральным законом от 29 декабря 2015 года № 408-ФЗ «О внесении изменений в отдельные законодательные акты Российской Федерации» установлены условия, при выполнении которых юридические лица и индивидуальные предприниматели относятся к субъектам малого и среднего предпринимательства. Кроме того, этим федеральным законом в ранее принятые законодательные нормы были внесены изменения в части критерия, применяемого при отнесении юридических лиц и индивидуальных предпринимателей к категории субъектов малого и среднего предпринимательства. Таким критерием вместо объёма выручки от реализации товаров (работ, услуг) стал объём дохода от предпринимательской деятельности.

<p>Конкретные значения дохода устанавливаются Правительством.

<p>Подписанным постановлением установлены предельные значения годового дохода от предпринимательской деятельности для каждой категории субъектов малого и среднего предпринимательства:

<br>
<br>для микропредприятий – 120 млн. рублей;
<br>для малых предприятий – 800 млн. рублей;
<br>для средних предприятий – 2 млрд. рублей.
<br>

<p>Принятое решение позволит автоматически присваивать статус субъекта малого и среднего предпринимательства юридическим лицам и индивидуальным предпринимателям без прохождения административных процедур, связанных с предоставлением дополнительных документов, и совершения других действий для подтверждения соответствующего статуса.

<p>Информация предоставлена  Правительством Российской Федерации
