<p>О мерах господдержки предприятий малого и среднего предпринимательства рассказали на семинаре, который прошёл в Петровском районе.</p>

 <p>30 августа в зале администрации Петровского района состоялся семинар на тему «Механизмы государственной поддержки субъектов малого и среднего предпринимательства и условия её предоставления». В мероприятии приняли участие представители администрации Петровского района, директор «Фонда содействия кредитованию малого и среднего предпринимательства» Блудов Андрей Михайлович и предпринимательское сообщество Петровского района. В ходе семинара предприниматели Петровского района получили информацию о перечне услуг, которые предоставляет «Фонд содействия кредитованию малого и среднего предпринимательства». Среди них – ряд нефинансовых мер поддержки, а также новое направление поддержки – микрофинансирование. Кроме того, на мероприятии предприниматели в индивидуальном порядке смогли задать интересующие их вопросы. 
</p>
 <p>
  <img src="/assets/images/news/01news30-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news30-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/03news30-08-2016.jpg" alt="">
</p>