<p>
<b>Вниманию предпринимателей Тамбовской области!</b>
</p>
<p>
«Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» (далее – Фонд) информирует представителей малого и среднего бизнеса о том, что 19 июля 2016 года областная трехстороння комиссия, представляющая региональную власть, работодателей и профсоюзы одобрила соглашение о повышении размера минимальной зарплаты для бюджетной сферы с 6,24 до 7,5 тысяч рублей, для внебюджетного сектора – с 7,5 до 8,5 тысяч рублей. 
</p>
<p>
Региональное соглашение вступает в силу с 1 августа 2016 года.
</p>
<p>
Таким образом, предприниматели, рассчитывающие на финансовую поддержку со стороны Фонда, обязаны выплачивать в квартале оказания поддержки и в период действия договора поручительства среднемесячную номинальную начисленную заработную плату не ниже 1,5 (полуторократного) размера минимальной заработной платы для работников внебюджетного сектора экономики, установленного действующим Региональным соглашением о минимальной заработной плате в Тамбовской области, а именно не менее 12 750 рублей.
</p>

