<p>
	Об определении кодов видов экономической деятельности и кодов услуг, относящихся к бытовым услугам
</p>
<P>
	Распоряжением Правительства РФ от 24 ноября 2016 года №2496-р утверждены коды видов деятельности в соответствии с Общероссийским классификатором видов экономической деятельности, относящихся к бытовым услугам, и коды услуг в соответствии с Общероссийским классификатором продукции по видам экономической деятельности, относящихся к бытовым услугам.
</P>
<p>
	Определение кодов позволит субъектам Федерации установить налоговую ставку в размере 0% для видов экономической деятельности в сфере бытовых услуг населению в отношении индивидуальных предпринимателей, применяющих упрощённую систему налогообложения, систему налогообложения в виде единого налога на вменённый доход для отдельных видов деятельности и патентную систему налогообложения.
</p>
<p>
	Информация предоставлена Правительством РФ
</p>