<p>
	Поскромнее и подлиннее
</p>
<p>
	Предприниматели в ответ на запрос секретаря "проектного офиса" Белого дома Андрея Слепнева представили свои предложения по расширению кредитования малого бизнеса. "Деловая Россия" и "Опора России" настаивают на смягчении условий льготной госпрограммы кредитования: минимальный объем кредита предложено снизить вдвое — до 5 млн руб., а сроки займов — увеличить с трех лет до семи лет. Это должно поднять долю льготных займов в общем объеме кредитов малому бизнесу с менее 5% до 15-20%.
</p>
<p>
	Предложения "Деловой России" и "Опоры России" отправлены в Белый дом в рамках доработки приоритетного проекта по малого и среднему предпринимательству (МСП), который был утвержден в сентябре 2016 года.
</p>
<p>
	Предпринимательские объединения ожидаемо считают, что нынешней финансовой господдержки недостаточно и она не носит массовый характер. Бизнес указывает на сложность и длительность получения финансирования, а также на низкую заинтересованность банков в работе с МСП. "Предпринимателю становится проще и быстрее привлечь деньги в микрофинансовой организации по ставке 25-30% годовых, нежели тратить свое время и деньги на попытку соответствовать всем тем требованиям, что выдвигают институты поддержки",— пишет Андрею Слепневу руководитель Центра финансово-кредитной поддержки бизнеса "Деловой России" Алексей Порошин.
</p>
<p>
	По мнению предпринимателей, "сверхвостребованную и эффективную" программу господдержки "Программа 6,5" необходимо расширять. Например — по сферам деятельности (она ограничена семью приоритетными отраслями). Сейчас по ней выдается менее 5% от общего объема кредитов МСП. Бизнес предлагает довести эту долю до 15-20%. Напомним, по этой программе можно получить кредиты от 10 млн руб. по ставке 10,6% (для малого бизнеса) и 9,6% (для среднего). Сами банки получают рефинансирование в ЦБ под 6,5% годовых. По данным на январь 2017 года, ВТБ выдал льготные кредиты более 200 компаниям, Сбербанк заключил 280 договоров.
</p>
<p>
	В письме в Белый дом глава "Опоры" Александр Калинин обращает внимание, что средняя стоимость проектов, получивших льготные кредиты, превышает 100 млн руб., что "свидетельствует о приоритете поддержки более крупных проектов". "Опора" предлагает снизить минимальный размер кредита вдвое — до 5 млн руб. что позволит сделать программу более массовой. Также необходимо увеличить срок кредитования до пяти лет (по факту, 50% в программе составляет инвестиционное кредитование для "длинных" проектов). В "Деловой России" этот срок предлагают увеличить до семи лет.
</p>
<p>
	Также "делороссы" считают необходимым разработать национальный стандарт кредитования (объем запрашиваемой банками информации ограничить анкетой объемом не более 40 вопросов и в целом унифицировать документацию). Еще "Опора" предлагает увеличить долю финансовой поддержки по линии Минсельхоза до 30-40% от общего объема финансирования. Отмечая, что рынок кредитования МСП не отличается высокой рентабельностью, предприниматели предлагают увеличить маржу банков по "Программе 6,5" — за счет снижения стоимости фондирования со стороны ЦБ всего до 1%.
</p>

