<p>Проблемы привлечения инвестиций и кредитование</p>

<p>
  <img src="../../../assets/images/news/03.09.2015-1.jpg" alt="">
</p>
 
<p>3 сентября Тамбовский региональный общественный фонд содействия бизнесу провел круглый стол на тему: «Проблемы привлечения инвестиций и кредитование».</p>
<p>На круглом столе обсудили проблемы, связанные с привлечением инвестиций, в том числе государственных и с кредитованием малого и среднего бизнеса.</p>

<p>
  <img src="../../../assets/images/news/03.09.2015-2.jpg" alt="">
</p>

<p>Участия в круглом столе приняли представители органов государственной власти и местного самоуправления, инвестиционных, консалтинговых и кредитных организаций, ученые и преподаватели вузов области, представители бизнес-сообщества, так же в круглом столе принял участие директор Тамбовского областного ГУП «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» Андрей Блудов.</p>

