<p><b>Малый бизнес – Национальная идея?</b></p>

<p>27 января 2016 года Тамбовское региональное отделение общероссийской общественной организации малого и среднего предпринимательства «ОПОРА РОССИИ» провело круглый стол на тему: «Обсуждение итогов Всероссийского предпринимательского форума «Малый бизнес – национальная идея?».</p>

<p>
	<img src="https://s3.eu-central-1.amazonaws.com/fsc-tambov/images/27.01.16.jpg" width="100%"/>
</p>

<p>На круглом столе рассматривался вопрос о проекте «Стратегия развития малого и среднего предпринимательства», обсуждались содержание и итоги Форума «Малый бизнес – национальная идея?»</p>

<p>Также были выслушаны предложение участников круглого стола по наиболее актуальным вопросам в сфере поддержки малого и среднего предпринимательства.</p>
<p>В круглом столе принял участие директор Тамбовского областного ГУП «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» Андрей Михайлович Блудов.</p>
