<p>Объявлен очередной конкурс в связи с размещением средств Фонда  от 24.04.2015 г.</p>

<p><strong>1. Организатор конкурсного отбора</strong>: Тамбовское областное государственное унитарное предприятие «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области».</p>
<p><strong>2. Контактное лицо</strong>: Блудов Андрей Михайлович.</p>
<p>Тел. (факс): 8 (4752) 63-07-26, 63-07-27.</p>
<p><strong>3. Предмет конкурсного отбора</strong>: право на заключение договора на размещение Тамбовским областным государственным унитарным предприятием «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» во вклады (депозиты) кредитных организаций средств, полученных из федерального и областного бюджетов (Договор депозита) сроком действия 1 (один) год.</p>
<p><strong>4. Срок для заключения договора Депозита.</strong> Договор депозита должен быть заключен в течение 15 дней с даты уведомления Банка о результатах конкурсного отбора.</p>
<p><strong>5. Объём денежных средств, выставляемых на конкурс:</strong> 65 000 000 (шестьдесят пять миллионов) рублей.</p>
<p><strong>6. Порядок проведения конкурсного отбора.</strong></p>
<p>Порядок проведения конкурсного отбора определяется Положением о конкурсном отборе кредитных организаций на размещение Тамбовским областным государственным унитарным предприятием «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» во вклады (депозиты) кредитных организаций средств, полученных из федерального и областного бюджетов, утвержденным приказом директора ТОГУП «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» от 23.04.2015 № 10
    (далее – Положение).</p>
<p>С Положением можно ознакомиться на сайте Организатора конкурсного отбора по адресу: <a href="http://old.fsc-tambov.ru/">old.fsc-tambov.ru</a> или получить её на бумажном носителе у Организатора конкурсного отбора.</p>
<p><strong>6.1. Порядок предоставления конкурсной документации и оформления участия в конкурсном отборе:</strong></p>
<p>Конкурсная документация предоставляется на бумажном носителе в составе заявки, являющейся Приложением к Положению о конкурсном отборе кредитных организаций на размещение Тамбовским областным государственным унитарным предприятием «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» во вклады (депозиты) кредитных организаций средств, полученных из федерального и областного бюджетов, и регистрируется Организатором конкурсного отбора.</p>
<p><strong>6.2. Срок представления заявки на участие в конкурсном отборе.</strong></p>
<p>Конкурсная документация представляется в течение 30 дней с момента опубликования настоящего извещения.</p>
<p><strong>6.3. Плата за предоставление:</strong> не установлена.</p>
<p><strong>6.4. Рассмотрение заявок на участие в конкурсном отборе и подведение итогов конкурсного отбора:</strong></p>
<p>Дата: 28.05.2015</p>
<p>Место: г. Тамбов, ул. Интернациональная, д. 14, каб. 501.</p>
<p><strong>7. Срок проведения конкурсного отбора</strong>.</p>
<p>Комиссия начинает рассмотрение Заявок не ранее, чем по истечении 30 дней после опубликования Извещения, и принимает решение о результатах конкурса в 15-дневный срок с момента окончания приёма Заявок.</p>
<p>
    <strong>
        <span>Конкурсная документация</span>
    </strong>
    <span>(</span>
    <a href="http://old.fsc-tambov.ru/images/doc/novosti/kddep16.02.2015.zip"></a>
    <a href="http://old.fsc-tambov.ru/images/doc/novosti/kddep24.04.2015.zip">zip скачать</a>
    <span>)</span>
</p>
