<p>
	Промсвязьбанк снизил ставки по кредитам до 8,3% для средних компаний и до 9,4% для малого бизнеса.
</p>
<p>
	<b>Москва, 25 ноября 2016</b> – Промсвязьбанк снизил ставки для малого и среднего бизнеса в рамках программы стимулирования кредитования, реализуемой совместно с Федеральной корпорацией по развитию малого и среднего предпринимательства (Корпорация МСП). Льготная процентная ставка Промсвязьбанка по отдельным кредитам в рамках «Программы 6,5» для средних компаний составит 8,3% годовых и 9,4% - для малых.
</p>
<p>
	Рынок МСБ - стратегическое направление, в котором Промсвязьбанк признан одним из лидеров отрасли наряду с госбанками. Эффективным и перспективным компаниям сегмента МСБ Промсвязьбанк предложит лучшие условия на рынке», - заявил Александр Чернощекин, старший вице-президент, руководитель блока «средний и малый бизнес» Промсвязьбанка.
</p>
<p>
	Минимальная сумма кредита по программе составляет 10 млн рублей. В настоящее время в рамках «Программы 6,5» действуют максимально допустимые ставки в размере 9,6% - для среднего бизнеса и 10,6% - для малого бизнеса.
</p>
<p>
	Информация предоставлена Промсвязьбанк
</p>
