<p>В 2015 году максимальный объём гарантийной поддержки Агентством кредитных гарантий в сфере АПК был оказан субъектам МСП Тамбовской области</p>

<p><img src="http://www.fsc-tambov.ru/images/doc/novosti/apk.jpeg"  alt="Брифинг"></p>

<p>14 июля 2015 года Совет по малому и среднему предпринимательству при Министерстве сельского хозяйства РФ рассмотрел вопрос доступности финансово-кредитных и страховых продуктов малым формам хозяйствования.</p>
<p>В мероприятии принял участие директор Департамента управления рисками Агентства кредитных гарантий (АКГ) Андрей Матвеев.</p>
<p>Одним из ключевых показателей эффективности деятельности АКГ является реализация объёма предоставленных банковских гарантий и контргарантий, обеспечивающих кредитные обязательства и обязательства кредитного характера крестьянских (фермерских) хозяйств, субъектов МСП, занятых производством, переработкой и реализацией сельскохозяйственной продукции на сумму не менее 15 млрд. руб. до 2017 года.</p>
<p>В целях реализации данной задачи АКГ в 2014 году заключило соглашения о сотрудничестве с основными банками-кредиторами предприятий агропромышленного комплекса (АПК) в РФ – ОАО «Сбербанк России» и ОАО «Россельхозбанк».</p>
<p>По состоянию на 14.07.2015 г. АКГ предоставило субъектам МСП, занятым в сфере АПК, 321 гарантию на общую сумму 2,2 млрд. руб., что позволяет привлечь в данный сегмент более 4,5 млрд. руб. кредитных ресурсов.</p>
<p>В 2015 году максимальный объём гарантийной поддержки в сфере АПК был оказан субъектам МСП следующих регионов:</p>

<ul>
    <li>Тамбовская область – 312,8 млн. руб., </li>
    <li>Липецкая область – 302,3 млн. руб., </li>
    <li>Краснодарский край – 294,3 млн. руб., </li>
    <li>Ростовская область – 181,7 млн. руб. </li>
</ul>

<p>
    <strong>
        Информация предоставлена 

        <a href="http://www.acgrf.ru/pres_slujba/news/obem_podderzhki_subektov_msp_sfery_apk_v_portfele_garantiy_akg_sostavlyaet_25_5/">
            АО «Агентство кредитных гарантий»
        </a>
    </strong>
</p>
