      <p>24 августа 2016 года «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» принял участие во Всероссийском совещании микрофинансовых организаций на тему: «Совершенствование и развитие рынка микрофинансирования».</p>
      <p>Целью совещания являлось обсуждение политики Минэкономразвития России и Банка России в направлении совершенствования и развития рынка микрофинансирования, целей и задач саморегулируемых организаций как регулятора деятельности микрофинансовых организаций.</p>
      <p>В совещании приняли участие представители Минэкономразвития России и Банка России, представители органов государственной власти субъектов Российской Федерации, представители Союза «Микрофинансовый альянс» «Институты развития малого и среднего предпринимательства», руководители, специалисты региональных и муниципальных микрофинансовых организаций, созданных при участии Минэкономразвития России в рамках государственной поддержки малого и среднего предпринимательства. </p>
<p>
  <img src="/assets/images/news/01news25-08-2016-3.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news25-08-2016-3.jpg" alt="">
</p>
