<p>
	Средний бизнес прирастет крупным.
</p>
<P>
	Часть крупного бизнеса может быть отнесена к среднему. И, таким образом, сможет рассчитывать на полагающиеся ему льготы. Это произойдет, если будут приняты предложения «Опоры России».
</P>
<p>
	Сегодня средним бизнесом признаются компании с численностью сотрудников до 250 человек и выручкой до 2 млрд рублей. «Опора России» предлагает удвоить эти критерии: до 500 человек и 4 млрд рублей, сообщил «Известиям» президент организации Александр Калинин. 
</p>
<p>
	Это изменение потребует внесения корректировок в законодательство о малом и среднем предпринимательстве, параметров его поддержки и, возможно, программ ЦБ, затрагивающих такое фондирование.
</p>
<p>
	Такой подход в целом соответствует мировой практике.
</p>
<p>
	Профессор Финансового университета при правительстве РФ Иван Соловьев считает, что эта мера в какой-то степени поддержит предприятия  в условиях кризиса и дефицита бюджетного финансирования. А также увеличит государственные обязательства в связи с реализацией обещанных гарантий субъектам малого и среднего бизнеса.
</P>
<p>
	Информация предоставлена корпорацией МСП.
</p>