<p>К сведению кредитных организаций</p>
<p><b>Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области</b> информирует о том, что акционерное общество «Федеральная корпорация по развитию малого и среднего предпринимательства» объявило о начале приема заявлений о допуске к процедуре дополнительного отбора банков для участия в Программе стимулирования кредитования субъектов малого и среднего предпринимательства (Программа 6,5%). Последний день подачи заявлений – <b>13 июля 2016 г</b></p>

<p>Заявления принимаются по адресу: 109074, г. Москва, Славянская площадь, д.4, стр.1, или на адрес электронной почты <a href="mailto:info@corpmsp.ru">info@corpmsp.ru</a>, в копии <a href="mailto:omishina@corpmsp.ru">omishina@corpmsp.ru</a>.</p>

<p>Подробная информация размещена на сайте АО «Корпорация «МСП» <a href="http://corpmsp.ru" target="_blank">http://corpmsp.ru/</a></p>

