<p>18 ноября Тамбовский филиал Российского нового университета подвел итоги Всемирной недели предпринимательства GEW – 2016GEW.</p>

<p>
	В течение недели в РосНОУ были организованы и проведены в соответствии с программой различные мероприятия, а финалом недели стал семинар «Молодежное предпринимательство: современные реалии и взгляд в будущее». Цель семинара – обмен деловой информацией, знаниями, опытом развития предпринимательских компетенций и ценностей.
</p>
<p>
	В дискуссии в конференц-зале университета приняли участие представители бизнес-сообщества:
</p>
<p>
	<ul class="list">
		<li style="display: list-item;">Козельцев Михаил Борисович, Уполномоченный по защите прав предпринимателей в Тамбовской области;</li>
		<li style="display: list-item;">Коломников Сергей Валерьевич, директор молодежного отдела Тамбовского регионального отделения Общероссийской общественной организации малого и среднего предпринимательства «Опора России»;</li>
		<li style="display: list-item;">Акулиничев Александр Юрьевич, президент консультационно-тренинговой компании «Альянс успешных предпринимателей Golden Leader»;</li>
		<li style="display: list-item;">Струкова Лариса Борисовна, генеральный директор и создатель бренда «Пряники дешево»;</li>
		<li style="display: list-item;">Бурлина Юлия Борисовна, генеральный директор компании «Империя фейерверков» и «Веселая затея».</li>
	</ul>
Уполномоченный по защите прав предпринимателей Михаил Козельцев познакомил студентов с работой института Уполномоченного, рассказал о мерах региональной и федеральной поддержки малого бизнеса. О чем была предоставлена информация региональным фондом содействия кредитованию малого и среднего предпринимательства

</p>
<P>
	Информация  с сайта  <a href="http://ombudsmanbiz.ru/" rel="nofollow">www.ombudsmanbiz.ru</a>
</P>
