<p>Кирсановские и Гавриловские предприниматели встретились с региональными кураторами малого и среднего бизнеса.</p>
<p>Директор Фонда содействия кредитованию малого и среднего предпринимательства Блудов Андрей Михайлович вместе с начальником отдела по развитию малого и среднего предпринимательства Управления по развитию промышленности и предпринимательства Тамбовской области Сергеем Поповым с рабочим визитом посетили город Кирсанов и Гавриловский район. </p>
<p>В стенах администрации Гавриловского района и города Кирсанов состоялась встречи с местными представителями малого и среднего предпринимательства. Собравшимся рассказали о программах поддержки начинающих бизнес-проектов, реализующихся на территории области и условиях её оказания. Наибольшую часть актива предпринимателей составили представители торговой отрасли. Интересовались предприниматели вопросами высокого размера государственной пошлины за выдачу лицензии на продажу алкоголя в розницу, в частности необходимость перехода на дифференцируемый размер стоимости лицензии на алкоголь, недопонимания ЕГАИС - единой государственной автоматизированной информационной системы, предназначенной для государственного контроля за объёмом производства и оборота этилового спирта, алкогольной и спиртосодержащей продукции, а также вопросом размера ставок страховых взносов в государственные внебюджетные фонды.</p>
<p>По итогам встречи присутствующие согласились, что решение указанных выше задач требует консолидации усилий государства и предпринимательского сообщества. Только объединение усилий власти, общественных институтов и представителей бизнес-сообществ будет способствовать организации эффективной работы по созданию благоприятных условий для ведения бизнеса.
</p>
<p>
  <img src="/assets/images/news/01news17-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news17-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/03news17-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/04news17-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/05news17-08-2016.jpg" alt="">
</p>