<p>
  <strong>RAEX подтвердил рейтинг надежности Гарантийного фонда
    Тамбовской области</strong>
</p>
<p>
  RAEX (Эксперт РА) пересмотрел рейтинг надёжности акционерного общества Микрокредитная компания «Фонд содействия
  кредитованию малого и среднего предпринимательства Тамбовской области» (далее – Фонд) по новой методологии и присвоил
  рейтинг на уровне ruBBB+ (соответствует рейтингу А+(III) по ранее применявшейся шкале). По рейтингу установлен
  стабильный прогноз.
<p>
  Аналитики агентства к ключевым факторам, оказавшим положительное влияние на рейтинговую оценку, отнесли высокую
  надёжность инвестиционных вложений, хорошее покрытие внебалансовых обязательств ликвидными активами и высокую
  эффективность регрессионной работы. Деятельность Фонда характеризуется консервативным подходом к разделению кредитных
  рисков.
</p>
<p>
  Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области созданный в 2008 году
  специализируется на предоставлении поручительств представителям малого и среднего бизнеса и в настоящее время имеет
  соглашения о сотрудничестве с двадцатью финансовыми организациями, а также с АО «Федеральная корпорация по развитию
  малого и среднего предпринимательства». Единственным учредителем Фонда является администрация Тамбовской области.
</p>
<p>
  По состоянию на 31.05.2017 года активы Фонда превышают 470 млн. рублей. С начала деятельности Фондом выдано 435
  поручительств на общую сумму 2,38 млрд. рублей, что позволило субъектам малого и среднего предпринимательства получить
  кредитов на сумму 5,4 млрд. рублей и создать более 1,5 тысячи новых рабочих мест. Основными получателями поддержки
  являются предприятия и предприниматели, работающие в сферах сельского хозяйства, строительства, производства, торговли
  и оказания транспортных услуг.
</p>
<p>
  По объёму предоставленных гарантий региональному бизнесу в 2016 году, гарантийный фонд Тамбовской области из 82
  гарантийных организаций Российской Федерации занял 16-е место, а среди субъектов Центрального федерального округа – 4.
</p>
<p>
  Положительная динамика деятельности Фонда сохраняется и в 2017 году. Так, за 5 месяцев 2017 года Фонд выдал 21
  поручительство на общую сумму 155,3 млн. рублей, что позволило предпринимателям привлечь в экономику региона кредитов
  на сумму 276,2 млн. рублей. В результате удалось сохранить 498 рабочих мест и создать возможность для организации 22
  новых рабочих мест. В июне текущего года для предпринимателей Тамбовской области станет доступна ещё одна форма
  финансовой поддержки, которую предложит Фонд – получение микрозаймов в сумме до 3-х млн. рублей, сроком до 3-х лет, по
  ставкам, не превышающих ключевую ставку Банка России.
</p>

