<p>
  Конференция субъектов малого и среднего предпринимательства
  Тамбовского района
</p>
<p>
  18 мая 2017 года в администрации Тамбовского района состоялась конференция субъектов малого и среднего
  предпринимательства. В конференции приняли участие руководители Тамбовского района, представители государственных и
  общественных организаций, которые рассказали присутствующим о произошедших изменениях в законодательстве, регулирующее
  деятельность предпринимателей, перспективах развития малого и среднего предпринимательства и др.
</p>
<p>
  Представители АО МК «Фонд содействия кредитованию малого и среднего предпринимательства» (далее – Фонд) регулярно
  посещают подобного рода мероприятия с целью непосредственного общения с предпринимателями и информирования их о мерах
  поддержки, оказываемые Фондом субъектам малого и среднего предпринимательства. На данной конференции от имени Фонда
  присутствовал заместитель генерального директора А.Н. Шепелёв
</p>
<p>
  <img src="assets/images/new1.jpg" alt="">
</p>
