<p>
  <strong>Стартовала серия семинаров с финансовыми организациями, организованная АО МК «Фонд содействия кредитованию
    малого и среднего предпринимательства Тамбовской области»</strong>
</p>
<p>
  28 марта 2017 года на базе АО Банка «Тамбовкредитпромбанк» (далее – Банк-партнёр) представителями акционерного
  общества Микрокредитная компания «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской
  области» (далее – Фонд) был проведён семинар на тему: «Новые условия взаимодействия АО МК «Фонд содействия
  кредитованию малого и среднего предпринимательства Тамбовской области» с финансовыми организациями».
<p>
  В семинаре приняли участие сотрудники дополнительных офисов Банка-партнёра из г. Мичуринска, г. Рассказово, г.
  Котовска, а также управляющие дополнительных офисов АО Банк «Тамбовкредитпромбанк» в г. Тамбове.
</p>
<p>
  В рамках семинар были рассмотрены новые условия взаимодействия Фонда с Банком-партнёром в рамках программы
  предоставления поручительств субъектам малого и среднего предпринимательства по кредитным договорам.
</p>
<p>
  <img src="../../../assets/images/news/5.JPG" alt=""/>
</p>
<p>
  <img src="../../../assets/images/news/6.JPG" alt=""/>
</p>
