<p>
	Реализация инвестиционного проекта ОАО «Птицефабрика «Иловайская»
</p>
<p>
	1 февраля 2017 года АО МК «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» совместно с представителями АО «Россельхозбанк» и АО «Федеральная корпорация по развитию малого и среднего предпринимательства»  был проведен осмотр места реализации инвестиционного проекта - ОАО «Птицефабрика «Иловайская» (строительство комплекса по переработке мяса птицы). Общая стоимость проекта превышает 417 млн. рублей. 
</p>
<p>
	Строительство данного комплекса относится к числу крупнейших инвестиционных проектов в Тамбовской области, реализуемых при содействии АО «Федеральная корпорация по развитию малого и среднего предпринимательства». 
</p>
<p>
  	<img src="../../../assets/images/news/01news01-02-2017-1.JPG" alt="">
</p>
<p>
  	<img src="../../../assets/images/news/02news01-02-2017-1.JPG" alt="">
</p>
<p>
  	<img src="../../../assets/images/news/03news01-02-2017-1.JPG" alt="">
</p>
<p>
  	<img src="../../../assets/images/news/04news01-02-2017-1.JPG" alt="">
</p>
<p>
  	<img src="../../../assets/images/news/05news01-02-2017-1.JPG" alt="">
</p>
<p>
  	<img src="../../../assets/images/news/06news01-02-2017-1.JPG" alt="">
</p>