<p>В здании администрации Первомайского района состоялся круглый стол на тему: "Механизмы государственной поддержки субъектов малого и среднего предпринимательства и условия её предоставления", участие в котором приняли субъекты малого и среднего бизнеса Первомайского района.</p> 
<p>Предпринимателям рассказали о существующих мерах государственной поддержки и условиях ее получения, льготном налогообложении, о новых направлениях развития малого и среднего предпринимательства и ответили на все интересующие предпринимателей вопросы.
 </p>
 <p>
  <img src="/assets/images/news/01news16-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news16-08-2016.jpg" alt="">
</p>
