<p>
	О поддержке малого и среднего предпринимательств.
</p>
<p>
	Минэкономразвития России Постановлением от 29 декабря 2016 года № 1538 внесло изменения в Правила предоставления и распределения субсидий из федерального бюджета бюджетам субъектов Федерации на государственную поддержку малого и среднего предпринимательства (далее – МСП).
</p>
<p>
	В целях повышения эффективности использования средств федерального бюджета на господдержку МСП, Минэкономразвития России   исключил необходимость проведения конкурсного отбора субъектов Федерации для предоставления субсидий. Это сократит сроки доведения до регионов средств на поддержку МСП. Кроме того, за счет объединения субсидий на поддержку МСП и поддержку молодёжного предпринимательства в одну субсидию сокращается перечень документов, предоставляемых субъектом Федерации.
</p>
<p>
	В 2017 году субсидии предоставляются на софинансирование расходных обязательств субъектов Федерации по следующим направлениям:
</p>
<p>
	<ul class="list">
		<li style="display: list-item;">
			оказание финансовой поддержки субъектам МСП и организациям, образующим инфраструктуру поддержки субъектов МСП;
		</li>
		<li style="display: list-item;">
			софинансирование капитальных вложений в объекты региональной и (или) муниципальной собственности;
		</li>
		<li style="display: list-item;">
			содействие развитию молодёжного предпринимательства;
		</li>
		<li style="display: list-item;">
			организация предоставления услуг по принципу одного окна в целях создания, развития и поддержки субъектов МСП.
		</li>
	</ul>
</p>
<p>
	Определены условия предоставления субсидий и методика их распределения.
</p>
<p>
	По отношению к субъектам Федерации, неэффективно использовавшим предоставленные субсидии в предыдущие периоды, в качестве условия предоставления субсидии на текущий финансовый год устанавливается обязанность по возврату бюджетных средств, полученных в предыдущие периоды.
</p>
<p>
	Информация предоставлена Минэкономразвития России
</p>