<p>
  <strong>Банк России принял решение снизить ключевую ставку до 9,75% годовых</strong>
</p>
<p>
  Совет директоров Банка России 24 марта 2017 года принял решение снизить ключевую ставку до 9,75% годовых. Совет
  директоров отмечает, что инфляция замедляется быстрее, чем прогнозировалось, продолжается снижение инфляционных
  ожиданий и восстановление экономической активности. Инфляционные риски несколько снизились, но сохраняются
  на повышенном уровне. В этих условиях при сохранении умеренно жесткой денежно-кредитной политики целевой уровень
  инфляции в 4% будет достигнут до конца 2017 года и будет поддерживаться в дальнейшем.
<p>
  Банк России будет оценивать дальнейшую динамику инфляции и экономики относительно прогноза и допускает возможность
  постепенного снижения ключевой ставки во II-III кварталах текущего года.
</p>
<p>
  Следующее заседание Совета директоров Банка России, на котором будет рассматриваться вопрос об уровне ключевой ставки,
  запланировано на 28 апреля 2017 года.
</p>
<p>
  Информация предоставлена Пресс-службой Банка России.
</p>
