<p>
  Конференция субъектов малого и среднего предпринимательства города Мичуринска
</p>
<p>
  19 мая 2017 года в преддверии Дня российского предпринимательства в администрации города Мичуринска состоялась
  конференция субъектов малого и среднего предпринимательства.</p>
</p>
<p>
  В своем выступлении глава города А.Ю. Кузнецов отметил важность малого и среднего предпринимательства для экономики
  города. Он подчеркнул, что развитие должна получать не только сфера услуг, но прежде всего производство. Для этого
  необходимо изучить стратегию развития области и города, спрогнозировать для себя, что может быть востребовано для
  развивающихся отраслей. Так, в связи с работами по благоустройству и озеленению, строительством школы, набережной,
  развитием туристической сферы потребуется то, что обеспечит их качественную деятельность: развитие общественного
  питания, изготовление современных торговых павильонов, малых форм архитектуры, организации и обслуживании стоянок и
  др.
</p>
<p>
  В конференции принял участие заместитель генерального директора АО МК «Фонд содействия кредитованию малого и среднего
  предпринимательства» (далее – Фонд) А.Н. Шепелёв, который рассказал о деятельности Фонда и тех мерах поддержки,
  которые Фонд оказывает предпринимателям.
</p>
<p>
  Финалом встречи стало награждение почётными грамотами и благодарственными письмами администрации города
  предпринимателей в связи с профессиональным праздником и за активное участие в подготовке и проведении общегородских
  мероприятий.
</p>
<p>
<img src="/assets/images/kart1.jpg" alt="">
</p>
<p>
  <img src="/assets/images/kart2.jpg" alt="">
</p>
<p>
  <img src="/assets/images/kart3.jpg" alt="">
</p>
<p>
  <img src="/assets/images/kart4.jpg" alt="">
</p>
