<p>
	Заседание президиума Совета при Президенте Российской Федерации по стратегическому развитию и приоритетным проектам.
</p>
<p>
	В ходе заседания президиума Совета при Президенте РФ по стратегическому развитию и приоритетным проектам, прошедшего 21 ноября 2016 года, были утверждены паспорта проектов по трём стратегическим направлениям – это безопасные и качественные дороги; жилищно-коммунальный сектор и городская среда; малый бизнес и поддержка индивидуальной предпринимательской инициативы. 
</p>
<p>	
	На сегодняшний день в России работает более 5,5 млн небольших компаний и частных предпринимателей. Их вклад в валовый внутренний продукт составляет около 20%.
</p>
<p>
	Закупки крупнейших государственных компаний у малого и среднего бизнеса достигли почти 1 трлн 300 млрд. Тем не менее доля кредитов для малых и средних предприятий в общем портфеле банков в 2014 году составляла 21,5%, а в 2015 году снизилась практически до 17%. 
</p>
<p>
	На основе анализа  развития малого и среднего предпринимательства в России были сформированы следующие предложения:
</p>
<P>
	<ul class="list">
		<li style="display: list-item;">
			снижение административной и регуляторной нагрузки в отношении бизнеса, особенно на начальном этапе.
		</li>
		<li style="display: list-item;">
      		расширение доступа малых предприятий к закупкам государственных компаний и инфраструктурных монополий.
      	</li>
      	<li style="display: list-item;">
      		формирование системы одного окна для развития малого предпринимательства, центров обслуживания на базе крупнейших финансово-кредитных организаций, в том числе крупнейших банков.
      	</li>
      	<li style="display: list-item;">
     		расширение кредитно-гарантийной поддержки и создание сети региональных лизинговых компаний, которые будут реализовывать льготные программы лизинга оборудования, в том числе для промышленности и сельского хозяйства.
     	</li>
     </ul>
</P>
<p>
	Информация предоставлена Правительством РФ
</p>