<p>
	Утверждён паспорт приоритетного проекта по основному направлению стратегического развития Российской Федерации «Малый бизнес и поддержка индивидуальной предпринимательской инициативы»
</p>
<p>
	По итогам заседания президиума Совета при Президенте России по стратегическому развитию и приоритетным проектам 21 ноября 2016 года утвержден паспорт приоритетного проекта по основному направлению стратегического развития Российской Федерации «Малый бизнес и поддержка индивидуальной предпринимательской инициативы».
</p>
<p>
	Ключевая цель проекта – обеспечить занятость порядка 1,2 млн человек у субъектов индивидуального и малого предпринимательства и оказать поддержку 336 тыс. субъектов индивидуального и малого предпринимательства.
</p>
<p>
	Срок реализации приоритетного проекта: с декабря 2016 года по март 2019 года.
</p>
<p>
	В частности, благодаря расширению доступа субъектов индивидуального и малого предпринимательства к закупкам крупнейших заказчиков, определяемых Правительством Российской Федерации, годовой объём их закупок у индивидуальных и малых предпринимателей в 2018 году должен составить не менее 17,5%.
</p>
<p>
	В результате реализации проекта субъекты индивидуального и малого предпринимательства, претендующие на получение гарантийной поддержки в рамках национальной гарантийной системы, получат доступ к такой поддержке во всех субъектах Российской Федерации на единых условиях и с применением единых подходов к оценке деятельности.
</p>
<p>
	Также предусмотрено расширение сервисов и территории охвата «Бизнес-навигатора МСП» для оказания информационно-маркетинговой поддержки индивидуальным и малым предприятиям. В результате информационно-аналитическая система будет предоставлять информацию о возможностях открытия и развития бизнеса на территории 171 города во всех субъектах Российской Федерации.
</p>
<p>
	Не менее чем в 80 субъектах Российской Федерации на базе банков с государственным участием будут созданы центры оказания государственных и муниципальных услуг малому предпринимательству, действующие по принципу одного окна.
</p>
<p>
	В рамках реализации проекта запланировано развитие системы подготовки, переподготовки и повышения квалификации кадров для индивидуального и малого предпринимательства. 
</p>
<p>
	Информация предоставлена Правительством РФ
</p>

