<p><b>Банк России принял решение снизить ключевую ставку до 10,50% годовых</b></p>
<p>Совет директоров Банка России 10 июня 2016 года принял решение снизить ключевую ставку до 10,50% годовых, отмечаются позитивные процессы стабилизации инфляции, снижения инфляционных ожиданий и инфляционных рисков на фоне признаков приближающегося вхождения экономики в фазу восстановительного роста. Замедление инфляционных процессов позволяет с большей уверенностью рассчитывать на устойчивое снижение инфляции до уровня менее 5% в мае 2017 года и целевого уровня 4% в конце 2017 года с учетом принятого решения и сохранения умеренно жесткой денежно-кредитной политики.
<p>Банк России будет рассматривать возможность дальнейшего снижения ключевой ставки, оценивая инфляционные риски и соответствие динамики замедления инфляции прогнозной траектории.
<p>Следующее заседание Совета директоров Банка России, на котором будет рассматриваться вопрос об уровне ключевой ставки, запланировано на 29 июля 2016 года.

<p>Информация предоставлена <a href="http://www.cbr.ru/Press/">Центральным банком Российской Федерации</a>
