<p>
  Конференция с представителями малого и среднего предпринимательства в Первомайском районе
</p>
<p>
  12 мая 2017 года в администрации Первомайского района состоялась конференция с представителями малого и среднего
  предпринимательства. В мероприятии принял участие генеральный директор АО МК «Фонд содействия кредитованию малого и
  среднего предпринимательства Тамбовской области» (далее – Фонд) А.М. Блудов.
</p>
<p>
  До предпринимателей района была доведена информация о механизмах государственной поддержки субъектов малого и среднего
  предпринимательства и условия её предоставления. Также А.М. Блудов рассказал о перечне услуг, которые Фонд
  предоставляет субъектам малого и среднего предпринимательства.
</p>
<p>
  По окончании конференции, все предприниматели смогли задать интересующие их вопросы.
</p>
<p>
  <img src="/assets/images/5.jpg" alt="">
</p>
