<p>
	ВТБ 24 снижает ставки по кредитам для малого бизнеса
</p>
<p>
	Банк ВТБ 24  с 28 ноября 2016 года  пересматривает ставки по всей линейке кредитов для малого бизнеса. Теперь минимальная ставка составляет 11%. Такое предложение для малого бизнеса является наиболее выгодным на рынке. 
</p>
<p>
 	Базовые ставки по кредитным продуктам на суммы свыше 30 млн рублей –снижены с 12,9% до 11,8%.  
 </p>
 <p>
	Кроме того, банк скорректировал ставки по программе рефинансирования кредитов других банков. Согласно новым условиям, минимальная ставка по программе составляет 11,8% годовых (ранее — 12,1%).
</p>
<p>
	В банке отмечают, что с начала года он выдал малому бизнесу более 9 тыс. кредитов на 86,7 млрд рублей, что на 45% больше по количеству и на 34% — по объему, чем за аналогичный период 2015-го. Портфель кредитов на 1 ноября 2016 года составил 181,5 млрд рублей. 
</p>
<p>
	Ранее ВТБ 24 снизил на 1 % ставки по кредитам, выдаваемым в рамках программы Корпорации МСП («Шесть с половиной»), — до 9%. Ставка банка по госпрограмме на 1,6%  ниже среднерыночной.
</p>
<p>
	Источник информации <a href="http://banki.ru" rel="nofollow">Banki.ru</a>
</p>