<p>
	Подведены итоги внепланового конкурсного отбора банков на право размещения средств Тамбовского областного ГУП "Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области"</p>
<p>
	26 октября 2016 года подведены итоги внепланового конкурса по отбору банков на право размещения средств Тамбовского областного ГУП "Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области" во вкладах (депозитах).
</p>
<p>
	Победителем внепланового конкурса на право размещении средств Тамбовского областного ГУП "Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области" во вкладах (депозитах) признан следующий банк - Публичное акционерное общество «Промсвязьбанк».
</p>

