<p>Предприниматели приглашаются для участия в опросе.</p>
<p>Очередной опрос предпринимателей по оценке эффекта от реализации планов мероприятий («дорожных карт») Национальной предпринимательской инициативы по улучшению инвестиционного климата в Российской Федерации состоится с 15 августа по 15 сентября 2016 года. </p>
<p>Для его проведения в сети «Интернет» подготовлены электронные анкеты по следующим вопросам: </p>

	<ul style="font-size: 1.6em; margin-left: 30px;">
		<li>- доступность энергетической инфраструктуры;</li>
		<li>- таможенное администрирование;</li>
		<li>- регистрация предприятий;</li>
		<li>- регистрация права собственности;</li>
		<li>- доступ субъектов малого и среднего предпринимательства к закупкам инфраструктурных монополий и компаний с государственным участием;</li>
		<li>- строительство;</li>
		<li>- поддержка экспорта;</li>
		<li>- качество регуляторной среды для бизнеса;</li>
		<li>- налоговое администрирование;</li>
		<li>- оценочная деятельность.</li>
	</ul>

<p>Заполнить анкеты можно по следующему адресу: <a href="http://asi.ru/investclimate/opros/">http://asi.ru/investclimate/opros/</a>. </p>