<p>
    О распределении в 2015 году субсидий субъектам Федерации на государственную поддержку малого и среднего предпринимательства 
</p>

<p>
    <img src="../../../assets/images/news/30.07.15-2.jpg" alt="">
</p>

<p>Распоряжением Правительства Российской Федерации от 18 июля 2015 года № 1400-р в рамках государственной программы «Экономическое развитие и инновационная экономика» распределены средства в размере более 16,9 млрд. рублей между 85 субъектами Федерации по итогам конкурсов. </p>
<p>Распределение субсидий было подготовлено из расчёта доли постоянного населения в субъекте Федерации на 1 января отчётного года, уровня бюджетной обеспеченности и эффективности реализации мероприятий субъектом Федерации за счёт субсидии, предоставленной в 2013 году, по состоянию на 1 октября 2014 года</p>
<p>По итогам проведённого конкурсного отбора Тамбовская область получила 122 208 858 рублей.</p>
<p>Принятое решение будет способствовать увеличению капитализации государственной подпрограммы Тамбовской области по развитию малого и среднего предпринимательства, что позволит расширить круг субъектов малого и среднего бизнеса, которым будет оказана финансовая поддержка.</p>
