<p>
	Включение в Единый реестр дает субъектам малого и среднего бизнеса дополнительные преимущества
</p>
<p>
	В соответствии с Федеральным законом от 29 декабря 2015 года № 408-ФЗ Федеральной налоговой службой РФ в 2016 году начато формирование Единого реестра субъектов малого и среднего предпринимательства (далее – Единый реестр), который содержит главную информацию о субъекте предпринимательства: ИНН, дата государственной регистрации, вид деятельности и другую. Единый реестр размещен на официальном сайте Федеральной налоговой службы по адресу: <a rel="nofollow" href="www.nalog.ru">www.nalog.ru</a>
</p>
<p>
	Внесение в Единый реестр сведений о юридических лицах и индивидуальных предпринимателях, отвечающих условиям отнесения к субъектам МСП, и исключение таких сведений из указанного реестра осуществляются Федеральной налоговой службой, в частности, на основании сведений, представленных МСП в соответствии с законодательством Российской Федерации о налогах и сборах.
</p>
<p>
	Единый реестр на 1 августа 2016 года сформирован ФНС России автоматически, на основании данных ЕГРИП и ЕГРЮЛ, по субъектам малого и среднего предпринимательства, своевременно предоставивших налоговую отчетность. Те малые и средние предприятия и индивидуальные предприниматели, которые нарушили установленный срок представления отчетности в налоговый орган по месту регистрации, в Единый реестр в 2016 году не попали и соответственно не имеют статус «субъект малого и среднего предпринимательства».
</p>
<p>
	Начиная с 2017 года, все коммерческие организации, не состоящие в Едином реестре, приравниваются к категории «крупный бизнес». Соответственно такие организации утрачивают право на получение господдержки в рамках государственных программ поддержки малого и среднего бизнеса, обязаны будут представлять статистическую отчетность по перечню, установленному для крупных предприятий. За непредставление такой отчетности им грозят штрафы.
</p>
<p>
	Напоминаем требования пункта 3 статьи 80 Налогового кодекса РФ: сведения о среднесписочной численности работников за предшествующий календарный год представляются организацией (индивидуальным предпринимателем, привлекавшим в указанный период наемных работников) в налоговый орган не позднее 20 января текущего года, а в случае создания (реорганизации) организации - не позднее 20-го числа месяца, следующего за месяцем, в котором организация была создана (реорганизована).
</p>
<p>
	Обращаем особое внимание тех субъектов МСП, которые не включены в Единый реестр, что <b>до 20 января 2017 года</b> им необходимо представить <b>сведения о среднесписочной численности работников за предшествующий календарный год.</b> Это даст возможность ФНС России обеспечить включение субъектов МСП в реестр.
</p>
<p>
	<b>Преимущества реестра для МСП:</b>
</p>
<p>
	<ul class="list">
		<li style="display: list-item;">
			с 1 августа 2016 года предпринимателям (кроме вновь созданных МСП - юрлиц и ИП) не нужно представлять документы, подтверждающие их статус субъектов МСП при обращении за мерами поддержки в рамках государственных или муниципальных программ развития МСП. Реестр будет обновляться ФНС автоматически;
		</li>
		<li style="display: list-item;">
			предпринимателям не нужно подтверждать статус МСП при заключении договора купли-продажи арендуемого имущества;
		</li>
		<li style="display: list-item;">
			предпринимателям не нужно предоставлять документы финансовой (бухгалтерской) отчетности о выручке и документы  о средней численности работников за предшествующий год при участии в аукционах по продаже права на заключение договора купли-продажи лесных насаждений для заготовки древесины;
		</li>
		<li style="display: list-item;">
			реестр можно использовать для поиска потенциальных клиентов или поставщиков с помощью расширенного поиска;
		</li>
		<li style="display: list-item;">
			малых компаний, занесенных в реестр, с 01.01.2016 г. по 31.12.2018 г.  не коснутся неналоговые плановые проверки (пожарной, трудовой инспекций, Росприроднадзора, Роспотребнадзора и санэпидстанции)  - кроме компаний из сферы здравоохранения, образования, и предприятий, деятельность которых связана с повышенной опасностью, а также компаний-нарушителей.
		</li>
		<li style="display: list-item;">
			реестр поможет узнать, вправе ли компания претендовать на субсидии, на участие в госзакупках по квоте для малого бизнеса и т.д.
		</li>
	</ul>
</p>
