<p>Банк России сохранил ключевую ставку на уровне 10,5% годовых</p>

<p>Совет директоров Банка России 29 июля 2016 года принял решение сохранить ключевую ставку на уровне 10,50% годовых.</p>

<p>Совет директоров отмечает, что динамика инфляции и наметившееся оживление экономической активности в основном соответствуют базовому прогнозу Банка России. Однако снижение инфляционных ожиданий приостановилось. Принятое решение и дальнейшее сохранение умеренно жесткой денежно-кредитной политики будет способствовать достижению цели по инфляции. По прогнозу Банка России, годовой темп прироста потребительских цен составит менее 5% в июле 2017 года и достигнет целевого уровня 4% в конце 2017 года. Банк России будет рассматривать возможность дальнейшего снижения ключевой ставки, оценивая инфляционные риски и соответствие динамики замедления инфляции прогнозной траектории.</p>

<p>Следующее заседание Совета директоров Банка России, на котором будет рассматриваться вопрос об уровне ключевой ставки, запланировано на 16 сентября 2016 года.</p>

<p><i>Информация предоставлена Пресс-службой Банка России.</i></p>
