<p>
	Тамбовская область получит на господдержку малого бизнеса более 70 миллионов рублей
</p>
<p>
	Председатель правительства России Дмитрий Медведев подписал распоряжение по распределению субсидий, предоставляемых в 2017 году из федерального бюджета регионам, на государственную поддержку малого и среднего предпринимательства. Согласно документу Тамбовской области выделяются субсидии, превышающие 70 миллионов рублей. 
</p>
<p>
	Указанные средства региональные власти  направят на реализацию двух основных направлений:
</p>
<ul class="list">
	<li style="display: list-item;">
		оказание финансовой поддержки субъектам МСП и организациям, образующим их инфраструктуру поддержки;
	</li>
	<li style="display: list-item;">
		содействие развитию молодежного предпринимательства.     
	</li>
</ul>
<p>
	В рамках направления по оказанию финансовой поддержки субъектам МСП и организациям, образующим их инфраструктуру поддержки (объём финансирования 67 млн. рублей) будут реализованы мероприятия по созданию и развитию микрофинансовых организаций и гарантийных фондов, мероприятия по поддержке монопрофильных муниципальных образований, созданию и развитию информационно-консультационной поддержки, инфраструктуры поддержки МСП, осуществляющей свою деятельность в области инноваций и промышленного производства.
</p>
<p>
	Для содействия развитию молодежного предпринимательства будет направлено более 3 млн. рублей.
</p>
