<article>
    
    <p>Информация о деятельности Фонда в 1-м полугодии 2015 г.</p>

    <p >
        <img src="/images/doc/novosti/brifing.jpeg" alt="Брифинг">
    </p>

    <p>06.07.2015 г. состоялся брифинг по итогам деятельности Тамбовского областного ГУП «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» в 1-м полугодии 2015 года.</p>
    <p>Директор Фонда А.М. Блудов довел до средств массовой информации и предпринимателей Тамбовской области итоги работы Фонда за 6 месяцев текущего года.</p>
    <p>За 1-е полугодие 2015 года Фонд выдал 54 поручительства на общую сумму 349 347,7 тыс. рублей, что позволило субъектам малого и среднего предпринимательства привлечь кредитов на сумму 761 389,2 тыс. рублей.</p>
    <p>По состоянию на 01 июля 2015 года капитализация Фонда составила свыше 401 млн. рублей. С начала деятельности Фондом было выдано 319 поручительств на общую сумму 1 671 384,3 тыс. рублей, что позволило субъектам малого и среднего предпринимательства получить кредитов на сумму 3 564 271,7 тыс. рублей.</p>
    <p>На брифинге была анонсирована новая форма финансовой поддержки, которую готов оказывать Фонд, а именно – предоставление поручительств по договорам о предоставлении банковской гарантии.</p>
    <p>Также были озвучены задачи на 2-е полугодие 2015 г.</p>
    <p>
        <a href="http://www.vestitambov.ru/?new_id=43879" target="_blank" rel="noreferrer" >http://www.vestitambov.ru/?new_id=43879</a>
        <a href="http://tvtambov.ru/?p=58993" target="_blank">http://tvtambov.ru/?p=58993</a>
    </p>
</article>