<p>
	Регионы РФ с 2017 года будут получать единую субсидию на развитие МСП
</p>
<p>
	Проект правил предоставления и распределения субсидий федерального бюджета между субъектами РФ предусматривает выдачу регионам единой субсидии на поддержку и развитие малого и среднего предпринимательства, сообщил директор Департамента развития малого и среднего предпринимательства и конкуренции Минэкономразвития России Максим Паршин на VI Всероссийской конференции «Развитие системы инфраструктуры поддержки субъектов МСП» в Челябинске.
</p>
<p>
	Проект правил сейчас проходит согласование в Минфине и в ближайшее время будет внесен в Правительство РФ.
</p>
<p>
 	«Формально планируется единая субсидия, которая будет состоять из трех частей: это оказание финансовой поддержки субъектам МСП (на создание - инфраструктуры, поддержку моногородов), предоставление субсидий на софинансирование капвложений и содействие развитию молодежного предпринимательства», - сказал Максим Паршин.
 </p>
 <p>
	Общий размер субсидии, в соответствии с проектом, будет рассчитываться по формуле, исходя из уровня бюджетной обеспеченности, числа субъектов МСП в регионе, эффективности работы в предыдущих периодах. 
</p>
<p>
	Директор Департамента отметил, что при распределении субсидий будет сделан акцент на финансирование завершённых и введённых в эксплуатацию в 2017 году объектов капвложений, остальные планируется финансировать по остаточному принципу. Он также подчеркнул, что в проект правил включен полный перечень всех существующих мер поддержки МСП.
</p>
<p>
	Максим Паршин отметил, что ведомство намерено сосредоточить усилия на возвратных и нефинансовых мерах поддержки, обеспечивающих капитализацию средств, вложенных ранее в развитие объектов инфраструктуры. По его словам, ведомство в меньшей степени будет уделять внимание прямым субсидиям и грантам - такая возможность останется для моногородов.
</p>
<p>
	В числе новшеств в предоставлении субсидий регионам директор Департамента отметил изменение правил освоения федеральных средств. В частности, со следующего года отменяется подтверждение потребности в средствах предыдущих периодов, все невостребованные средства будут возвращены в резервный фонд. Кроме того, в резервный фонд отправят средства, если регион не будет включен в распоряжение Правительства о распределении средств, которое должно выйти до 1 февраля 2017 года, а также не успеет заключить соглашение о получении субсидий до 1 марта 2017 года.
</p>
<p>
	Информация предоставлена Минэкономразвития РФ
</p>