<p>Жердевские предприниматели приняли участие в обсуждении механизмов государственной поддержки. </p>

<P>02 сентября 2106 года в здании администрации Жердевского района состоялся круглый стол на тему <«Механизмы государственной поддержки субъектов малого и среднего предпринимательства и условия её предоставления». Организатором мероприятия выступил Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области. В работе круглого стола также приняли участие представители администрации и предприниматели Жердевского района.
</p>
 <p>
  <img src="/assets/images/news/01news02-09-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news02-09-2016.jpg" alt="">
</p>