<p>
  Конференция с субъектами малого и среднего предпринимательства города Котовска
</p>
<p>
  24 мая 2017 года в Котовске на базе лагеря «Лесной городок» состоялась ежегодная конференция предпринимательского
  сообщества. В данной конференции приняли участие наиболее активные бизнесмены Котовска, руководители города, а также
  гости – руководители областных общественных организаций, сотрудники банков и организаций, оказывающих различные услуги
  для предпринимателей.
</p>
<p>
  В конференции принял участие заместитель генерального директора АО МК «Фонд содействия кредитованию малого и среднего
  предпринимательства Тамбовской области» (далее – Фонд) А.Н. Шепелёв, который от лица Фонда поздравил предпринимателей
  города Котовска с наступающим профессиональным праздником – Днём российского предпринимательства и рассказал о новых
  видах поддержки, которые Фонд оказывает предпринимателям в 2017 году.
</p>
<p>
  Официальная часть конференции завершилась вручением дипломов победителей городского конкурса на звание лучшего
  предпринимателя по итогам прошлого года.
</p>
<p>
  <img src="assets/images/new2.jpg" alt="">
</p>
<p>
  <img src="assets/images/new3.jpg" alt="">
</p>
