<p>
	«Финансовая Корпорация Открытие», являющаяся партнёром Фонда, будет кредитовать аграриев по льготной ставке
</p>
<p>
	Банк «Открытие» и Министерство сельского хозяйства РФ подписали соглашение, предусматривающее предоставление банку государственных субсидий по льготным кредитам для сельхозтоваропроизводителей. Об этом говорится в сообщении банка.
</p>
<p>
	По условиям соглашения банк обязуется предоставлять краткосрочные и инвестиционные кредиты сельскохозяйственным предприятиям по льготной ставке — не более 5% годовых. В свою очередь Минсельхоз в течение десяти дней с момента представления банком документов, подтверждающих выдачу льготного кредита, производит перечисление субсидии в размере ключевой ставки ЦБ РФ (10% годовых).
</p>
<p>
	Воспользоваться преимуществами новой кредитной программы могут как производители, так и переработчики сельскохозяйственной продукции из приоритетных подотраслей растениеводства и животноводства, уточняют в «Открытии».
</p>
<p>
	«Участие в программах государственной поддержки — одно из стратегических направлений развития нашего бизнеса. Уже сегодня спрос на кредиты с государственным субсидированием довольно высок как со стороны действующих, так и со стороны потенциальных клиентов — текущий объем заявок составляет более 30 миллиардов рублей. Участие в программе Минсельхоза в регионах присутствия с высоким сельскохозяйственным потенциалом позволит «Открытию» привлечь на обслуживание агрохолдинги с хорошими финансовыми показателями из числа лидеров отрасли», — комментирует член правления, руководитель корпоративного блока банка «Открытие» Геннадий Жужлев.
</p>
<p>
	Ранее о заключении соглашений с Минсельхозом для кредитования предприятий АПК по ставке не более 5% годовых уже сообщили банки-партнёры Фонда Россельхозбанк, Промсвязьбанк, ВТБ, Сбербанк, Газпромбанк.
</p>
