<p>
  В администрации Никифоровского района состоялась встреча главы района Александра Руслановича Щербакова с предпринимателями.
</p>
<p>
  05 мая 2017 года в администрации Никифоровского района состоялась встреча главы района Александра Руслановича
  Щербакова с предпринимателями. В данной встрече принял участие генеральный директор АО МК «Фонд содействия
  кредитованию малого и среднего предпринимательства Тамбовской области» (далее – Фонд) А.М. Блудов.
</p>
<p>
  На встрече обсуждались итоги развития малого и среднего бизнеса в Никифоровском районе за 2016 год и основные
  направления развития предпринимательства в 2017 году. А.М. Блудов довёл до предпринимателей информацию о тех мерах
  поддержки, которые оказывает Фонд субъектам малого и среднего предпринимательства.
</p>
<p>
  Для присутствующих была подготовлена концертная программа, посвящённая предстоящему Дню российского
  предпринимательства.
</p>
<p>
  <img src="/assets/images/1.jpg" alt="">
</p>
<p>
  <img src="/assets/images/2.jpg" alt="">
</p>
<p>
  <img src="/assets/images/3.jpg" alt="">
</p>
<p>
  <img src="/assets/images/4.jpg" alt="">
</p>
