<p>
  Круглый стол по аккредитации банков Корпорацией МСП для работы в рамках НГС и участия в Программе 6,5 прошел в АРБ
</p>
<p>
  В Ассоциации российских банков 3 марта состоялся круглый стол «Аккредитация при Корпорации МСП банков-партнеров для
  работы в рамках Национальной гарантийной системы и отбор уполномоченных банков в «Программу 6,5», установление
  Корпорацией МСП и МСП Банком лимитов на банки».
</p>
<p>
  В мероприятии приняли участие представители Министерства экономического развития РФ (Татьяна Бауэр), АО «Федеральная
  корпорация по развитию малого и среднего предпринимательства» (далее - Корпорация МСП) (Сергей Сучков), МСП Банка
  (Марина Шамонина), Банка России (Роман Марков) и представители более 25 кредитных организаций. Модератором круглого
  стола выступил ответственный секретарь Общественно-консультативного совета по вопросам координации и взаимодействия
  Правительства Москвы с кредитными организациями Николай Редько.
</p>
<p>
  Член правления, руководитель дирекции управления рисками Корпорации МСП Сергей Сучков рассказал о порядке аккредитации
  банков и установлении лимитов на банки – партнеры в рамках льготного кредитования «Программы 6,5»: критериях оценки
  финансового положения банков с целью решения вопроса об аккредитации и установлении лимита, мониторинге кредитного
  портфеля МСП банков, установлении максимального лимита поручительств на отдельный банк.
  Представители Корпорации МСП и МСП Банка ответили на вопросы и комментарии, поступившие от банков. Сергей Сучков также
  сообщил о планах Корпорации МСП по расширению числа региональных банков – партнеров и их участия в «Программе 6,5», а
  также о возможном увеличении лимита программы в июле текущего года на 50 млрд. руб. для выдачи кредитов региональными
  банками.
</p>
<p>
  <a href="https://arb.ru/">Ссылка на источник</a>
</p>
