<p>
  Ежегодная районная конференция с представителями малого и среднего предпринимательства Рассказовского района
</p>
<p>
  18 мая 2017 года в администрации Рассказовского района состоялась ежегодная конференция представителей малого и
  среднего предпринимательства.
</p>
<p>
  Перед присутствующими выступили глава Рассказовского района А.А. Поздняков, представители организаций и учреждений,
  деятельность которых связана с интересами предпринимателей.
</p>
<p>
  В конференции принял участие заместитель генерального директора АО МК «Фонд содействия кредитованию малого и среднего
  предпринимательства Тамбовской области» А.Н. Шепелёв, который рассказал о новых возможностях для развития и поддержки
  бизнеса в регионе.
</p>
<p>
  <img src="assets/images/news_7.jpg" alt="">
</p>
<p>
  <img src="assets/images/news_8.jpg" alt="">
</p>
<p>
  <img src="assets/images/news_9.jpg" alt="">
</p>
<p>
  <img src="assets/images/news_10.jpg" alt="">
</p>
