<p>
	Банк России принял решение сохранить ключевую ставку на уровне 10,00% годовых.
</p>
<p>
	Совет директоров Банка России 28 октября 2016 года принял решение сохранить ключевую ставкана уровне 10,00% годовых. 
</p>
<p>
	Совет директоров отмечает, что динамика инфляции и экономической активности в целом соответствует прогнозу. При этом значительный вклад в замедление темпов роста потребительских цен вносят временные факторы, а снижение инфляционных ожиданий остается неустойчивым. Для закрепления тенденции к устойчивому снижению инфляции, по оценкам Банка России, необходимо поддержание текущего уровня ключевой ставки до конца 2016 года, с возможностью ее снижения в I-II квартале 2017 года. С учетом принятого решения и сохранения умеренно жесткой денежно-кредитной политики годовой темп прироста потребительских цен составит менее 4,5% в октябре 2017 года и снизится до целевого уровня 4% в конце 2017 года. При принятии решения о ключевой ставке в ближайшие месяцы Банк России будет оценивать инфляционные риски и соответствие динамики экономики и инфляции базовому прогнозу.
</p>
<p>	
	Следующее заседание Совета директоров Банка России, на котором будет рассматриваться вопрос об уровне ключевой ставки, запланировано на 16декабря 2016 года.
</p>
<p>
	Информация предоставлена Пресс-службой Банка России.
</p>

