<p>
  Тамбовская область укрепила свои позиции в Национальном рейтинге состояния инвестиционного климата в регионах РФ
</p>

<p>
  В рамках Петербургского международного экономического форума - 2017 состоялась презентация Национального рейтинга
  состояния инвестиционного климата в регионах России. По результатам этого рейтинга Тамбовская область серьезно
  укрепила свои позиции, переместившись с 19 места на 11.
</p>

<p>
  Рейтинг составляется Агентством стратегических инициатив. Это один из значимых индикаторов того, как область строит
  свои отношения с инвесторами. В нем учитывается качество государственных процедур: от скорости регистрации предприятия
  и легкости подключения к электросетям до получения разрешения на строительство.
</p>

<p>
  В 2017 году Тамбовская область продолжает делать практические шаги в деле улучшения инвестиционного климата: идет
  внедрение 12 целевых моделей упрощения ведения бизнеса и повышения инвестиционной привлекательности субъектов РФ.
  Модернизирован инвестиционный портал Тамбовской области.
</p>

<p>
  Губернатор Александр Никитин выразил уверенность в том, что Тамбовская область и дальше будет улучшать свои позиции в
  рейтинге и сделает все, чтобы оставаться благоприятным и привлекательным местом для инвесторов.
</p>

<p>
  Источник: Управление пресс-службы и информации администрации Тамбовской области
</p>
