<p>
	Подведены итоги работы АО «Федеральная корпорация по развитию малого и среднего предпринимательства» в Тамбовской области за 2016 год
</p>
<p>
	По итогам работы АО «Корпорация «МСП» (далее – Корпорация) в Тамбовской области за 2016 год было предоставлено 39 гарантий и поручительств на сумму 810 млн. рублей, что позволило субъектам МСП привлечь кредитные ресурсы на общую сумму 993 млн. рублей.
</p>
<p>
	Совместно с АО Микрокредитная компания «Фондсодействия кредитованию малого и среднего предпринимательства Тамбовской области» (далее – Гарантийный фонд) поддержано два кредита на общую сумму 410 млн. рублей с совместным обеспечением Корпорации и РГО в размере 286 млн. рублей, в том числе 30 млн. рублей поручительство Гарантийного фонда и 256 млн. рублей гарантия Корпорации.
</p>
<p>
	Так, в Первомайском районе Тамбовской области благодаря гарантийной поддержке Фонда и Корпорации реализуется инвестиционный проект ОАО «Птицефабрика «Иловайская» по строительству комплекса по переработке мяса птицы,производственной мощностью 29 тысяч тонн мяса в год. 
</p>
<p>
	Кредитные средства, предоставленные АО «Россельхозбанк» направлены на создание производства, использующего инновационные технологии и высокотехнологичное оборудование. Реализация проекта предусматривает строительство трех цехов –для приёмки и хранения сырья, для разделки мяса птицы и для охлаждения, замораживания и хранения готовой продукции. Новый комплекс по переработке мяса птицы будет способствовать развитию мясного птицеводства Тамбовской области, укреплению позиций отрасли в целом по стране и обеспечению продовольственной безопасности России. 
</p>
<p>
	В 2016 году Корпорация приступила к реализации Программы стимулирования кредитования субъектов малого и среднего предпринимательства (далее – Программа 6,5), что позволило предоставить 17 поручительств предприятиям Тамбовской области по Программе 6,5 на общую сумму 539 млн. рублей.
</p>
<p>
	Корпорацией расширена Программа 6,5:
</p>
<ul class="list">
	<li style="display: list-item;">
		заключены генеральные соглашения с 31 уполномоченным банком;
	</li>
	<li style="display: list-item;">
		снижен минимальный порог кредитования до 10 млн. рублей;
	</li>
	<li style="display: list-item;">
		в список приоритетных отраслей включены следующие отрасли;
	</li>
	<li style="display: list-item;">
		деятельность в области здравоохранения;
	</li>
	<li style="display: list-item;">
		сбор, обработка и утилизация отходов, в том числе отсортированных материалов, а также переработка металлических и неметаллических отходов, мусора и прочих предметов во вторичное сырье.
	</li>
</ul>

