<p>
  В Рассказово прошла конференция по развитию малого и среднего предпринимательства
</p>
<p>
  17 мая 2017 года генеральный директор АО МК «Фонд содействия кредитованию малого и среднего предпринимательства
  Тамбовской области» (далее - Фонд) Андрей Михайлович Блудов по приглашению главы города Рассказово Алексея Николаевича
  Колмакова принял участие в обсуждении актуальных вопросов, связанных с ведением предпринимательской деятельности в
  муниципалитете.
</p>
<p>
  В ходе данной конференции А.М. Блудов довёл до предпринимателей информацию о перечне услуг, которые предоставляет Фонд
  субъектам малого и среднего предпринимательства, а также обозначил перспективы развития Фонда в целях удовлетворения
  профессиональных интересов предпринимателей Тамбовской области.
</p>
<p>
  По окончании конференции все предприниматели смогли задать интересующие их вопросы.
</p>
<p>
  <img src="assets/images/news_1.jpg" alt="">
</p>
<p>
  <img src="assets/images/news_2.jpg" alt="">
</p>
<p>
  <img src="assets/images/news_3.jpg" alt="">
</p>
