<p>ВТБ 24 снизил до 9% ставку по кредитам для малого бизнеса в рамках «Программы 6,5»  Корпорации МСП.</p>

<p>
	Банк-партнер Фонда -  ВТБ 24 снизил ставку по кредитам в рамках Программы льготного кредитования для субъектов малого предпринимательства на 1 % – до 9%. Таким образом, теперь банк предлагает по госпрограмме наиболее выгодные на рынке условия - разница со среднерыночной ставкой составляет 1,6 %.
</p>
<p>
	Программа «Шесть с половиной» реализуется Корпорацией «МСП» совместно с Банком России. В рамках госпрограммы банки получают фондирование по льготной ставке, соответственно, и кредитные ресурсы предприятиям МСП предоставляются по сниженной ставке. ВТБ 24 работает по программе с момента её запуска.
</p>
<p>
	В рамках льготной программы кредитные средства выдаются на следующие цели: 
</p>
<p>
	<ul class="list">
		<li style="display: list-item;">приобретение основных средств;</li>
		<li style="display: list-item;">модернизация и реконструкция производства;</li>
		<li style="display: list-item;">запуск новых проектов.</li>
	</ul>
</p>
<P>
	Средства могут быть направлены как на покрытие капитальных затрат, так и текущих расходов, связанных с реализацией сопутствующих мероприятий. Текущие расходы – не более 30% от суммы инвестиционного проекта. Минимальная сумма кредита в ВТБ 24 – 10 млн рублей.
</p>
<P>
	Информация предоставлена Корпорацией МСП.
</P>
