<p>
	Круглый стол
</p>
<p>
	7 декабря 2016 года в Администрации города Мичуринска состоялся круглый стол  для предпринимателей, в котором приняли участие сотрудники администрации города Мичуринск, представители органов власти,  кредитных учреждений и предприниматели.
</p>
<p>
	В ходе проведения круглого стола предприниматели смогли узнать подробную информацию о всех видах государственной поддержки малого и среднего предпринимательства,  	осуществляемой в 2016 году в Тамбовской области. 
</p>
<p>
	Перед участниками круглого стола выступил с докладом заместитель генерального директора акционерного общества Микрокредитная компания «Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области» Шепелёв Артур Николаевич, который рассказал о деятельности Фонда и тех мерах поддержки, которые предприниматели смогут получить от Фонда в наступающем 2017 году. 
</p>
<p>
	<img src="/assets/images/news/01news07-12-2016.jpg" alt="">
</p>
<p>
	<img src="/assets/images/news/02news07-12-2016.jpg" alt="">
</p>
<p>
	<img src="/assets/images/news/03news07-12-2016.jpg" alt="">
</p>

