<p><b>В 2016 году малому и среднему бизнесу планируется предоставить субсидий на 10,2 млрд. рублей</b></p>
<p>
В Минэкономразвития состоялось совещание по организации конкурсного отбора по предоставлению субсидий на государственную поддержку малого и среднего предпринимательства в 2016 году.</p>
<p>На совещании были рассмотрены основные положения по конкурсному отбору 2016 года, по подготовке конкурсных заявок и особенностях распределения субсидий субъектам РФ.</p>
<p>Учитывая сроки объявления и проведения конкурсного отбора в 2016 году (I квартал) Минэкономразвития России в настоящее время подготовлен ряд корректировок нормативных правовых актов Правительства и Министерства.</p>
<p>Ориентировочное время начала приема конкурсных заявок – январь-февраль 2016 года.</p>
<p>Качество подготовки представленных заявок будет оцениваться привлеченными экспертами и членами конкурсной комиссии.</p>
<p>Объём финансирования Программы в 2016 году составляет 12,3 млрд. рублей на поддержку малого и среднего предпринимательства, в том числе:<br/>
- 10,2 млрд. рублей на предоставление прямых субсидий предпринимателям;<br/>
- 1,66 млрд. рублей на софинансирование объектов капитального строительства.<br/>
</p>

<p>
<i>Информация предоставлена Минэкономразвития России</i>
</p>
