<p><b>Минэкономразвития внесло в Правительство доработанный проект стратегии развития МСП до 2030 года</b></p>
<p>Стратегия разработана во исполнение решений, принятых на Государственном совете РФ по вопросам развития малого и среднего бизнеса, состоявшемся в апреле 2015 года.</p>
<p>Подготовленный документ – это обобщение предложений и идей по мерам развития малых и средних предприятий, своего рода воплощение запроса от предпринимательского сообщества на изменения в сфере регулирования и поддержки предпринимательской деятельности.</p>
<p>В декабре 2015 года проект Стратегии рассматривался на заседании Правительственной комиссии по вопросам конкуренции и развития малого и среднего предпринимательства, по результатам которого принято решение детализировать Стратегию – определить конкретные шаги по поддержке малых и средних компаний на ближайшие два года и увязать их в детальный план мероприятий.</p>
<p>Доработанная стратегия включает план мероприятий на период 2016-2017 годов.</p>
<p>В частности, предусмотрены меры и мероприятия по поддержке малого и среднего предпринимательства по ряду направлений:</p>
<p>
- единый центр поддержки малого и среднего предпринимательства;<br/>
- рыночные ниши для бизнеса;<br/>
- технологическое развитие;<br/>
- доступное финансирование;<br/>
- предсказуемая фискальная политика;<br/>
- высокое качество государственного регулирования;<br/>
- территориальное развитие;<br/>
- квалифицированные кадры.<br/>
</p>
<p>
<i>Информация предоставлена Минэкономразвития России</i>
</p>