<p>В Тамбове состоялось Первое заседание обновленного координационного совета по инвестиционному климату и развитию малого и среднего предпринимательства.</p>
<P>     Открыл заседание глава города Тамбова Юрий Рогачев, сделав акцент на необходимости поддержки бизнеса, снижения административных барьеров и налаживания диалога власти и предпринимателей.
     Начальник управления по развитию промышленности и предпринимательства области Наталия Макаревич рассказала собравшимся о мерах государственной поддержки субъектов малого и среднего предпринимательства в Тамбовской области, а также о возможностях применения ими льготного налогообложения. Особо был отмечен тот факт, что город Тамбов занимает лидирующие позиции в областном бизнесе, поэтому именно здесь в скором времени будет презентован новый проект - "Бизнес-навигатор", позволяющий быстро сориентироваться в постоянно меняющейся экономической ситуации.</P>
     <P>Одной из главных проблем предпринимателей до сих пор является недостаток информации о возможностях и формах государственной поддержки, поэтому принято решение создать на базе МФЦ "единое окно", сотрудники которого будут консультировать предпринимателей по различным вопросам.
     Директор Фонда содействия кредитованию МСП Андрей Блудов разъяснил условия предоставления поручительств по обязательствам бизнесменов, рассказал о предстоящем создании в области Фонда микрофинансирования субъектов МСП и выразил готовность участвовать в заседаниях профильного комитета Тамбовской городской Думы и консультировать депутатов относительно возможности организации микрофинансирования в городе.</P>
     <P>Далее председатель комитета по инвестициям и стратегическим проектам администрации города Тамбова Алексей Марковский рассказал о формах муниципальной поддержки субъектов МСП и создании на базе комитета специального отдела инвестиционной политики и поддержки малого и среднего предпринимательства.</P>
     <P>Ближе к завершению заседания начальник управления муниципального заказа и продаж администрации города Тамбова Кирилл Сметанин сделал доклад о совершенствовании системы муниципальных закупок, призвав местных предпринимателей чаще принимать участие в торгах. 
     Также в ходе заседания собравшиеся обсудили практику проведения ярмарок и другие не менее важные вопросы.

</p>
 <p>
  <img src="/assets/images/news/01news06-09-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news06-09-2016.jpg" alt="">
</p>