<p><b>О применении с 1 января 2016 года ключевой ставки Банка России</b></p>
<p>
Постановлением Правительства РФ от 9 декабря 2015 года №1340 установлено, что во всех отношениях, на которые распространяется действие актов Правительства, где содержится понятие «ставка рефинансирования», с 1 января 2016 года будет применяться понятие «ключевая ставка Банка России», если другое не предусмотрено федеральным законом.
</p>
<p>
Эта мера обусловлена изменением роли ставки рефинансирования в системе инструментов Банка России и введением с 13 сентября 2013 года в качестве основного индикатора направленности денежно-кредитной политики ключевой ставки, понятие которой ранее в российском законодательстве не использовалось.
</p>
<p>
Принятое решение будет способствовать совершенствованию нормативного регулирования в сфере денежно-кредитной политики.
</p>
<p><br/>Информация предоставлена  Правительством Российской Федерации</p>
