<p>
	ЦБ смягчит требования к банкам — кредиторам МСБ
</p>
<p>
	Банк России с апреля существенно смягчит требования к банкам, предоставляющим кредиты малому и среднему бизнесу (МСБ). О подготовке таких мер рассказал заместитель председателя Центробанка Василий Поздышев.
</p>
<p>
	«С 1 апреля мы планируем изменить критерии для льготного коэффициента риска (75% по кредитам, выдаваемым малому и среднему бизнесу). Будет новый критерий дробности — 0,5% от капитала банка», — сообщил заместитель председателя ЦБ.
</p>
<p>
	Сейчас лимит риска на одного заемщика равняется 0,2% (критерий дробности). Другими словами, банк может выдать компании кредит максимум на 0,2% от капитала. Из-за этого объем кредитов для МСБ незначителен, указывают в Ассоциации региональных банков России.
</p>
<p>
	Вторая планируемая мера — увеличение максимального размера льготного кредита малому и среднему предприятию. Сейчас это 50 млн рублей, с 1 апреля сумма составит 60 млн. То есть большее количество ссуд подпадет под льготы, пояснил Поздышев. «Категория предприятий малого и среднего бизнеса — это как раз сегмент, который нуждается в регуляторной поддержке», — отметил он.
</p>
<p>
	По данным ЦБ, объем кредитования МСБ в 2015 году сократился на 5%. Негативная динамика сохранилась и в прошлом году — только за восемь месяцев 2016-го объем выданных кредитов уменьшился на 11%.
</p>
<p>
	На сегодняшний день одобряется только треть всех заявок МСБ на кредиты. Послабления ЦБ — это хотя и маленький шаг навстречу МСБ, но он позволит кредитным организациям высвободить часть капитала, снизить ставки и выдавать больше займов.
</p>

