<p>Предпринимателям из Сосновского района рассказали о мерах государственной поддержки.</p>

<p>31 августа 2016г. в Сосновском районе Тамбовской области состоялась встреча представителей Фонда содействия кредитованию малого и среднего предпринимательства с местными предпринимателями. Темой обсуждения стали меры государственной поддержки субъектов малого и среднего предпринимательства. В ходе мероприятия были сформулированы элементы существующих мер государственной поддержки, обсуждались проблемы региональных предпринимателей и пути их решения. 

</p>
 <p>
  <img src="/assets/images/news/01news31-08-2016.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news31-08-2016.jpg" alt="">
</p>