<p>
	Правовые кейсы АО «Корпорация «МСП» для субъектов малого и среднего предпринимательства.
</p>
<p>
	Основная функция в деятельности АО «Корпорация «МСП» организация мер юридической (правовой) поддержки  субъектов МСП посредством создания механизмов и инструментов с целью повышения правовой грамотности малых предприятий.
 	На основе анализа практики создания и ведения бизнеса АО «Корпорация «МСП» разработаны 3 типовые проблемные ситуации, которые возникают при реализации бизнес-проектов и описания юридических механизмов выхода из них (кейсов) по следующим направлениям:
<p>
<p>
	<ul style="font-size: 1.6em;">
		<li>- создание юридического лица «не выходя из дома»;</li>
		<li>- оказание имущественной поддержки субъектов МСП;</li>
		<li>- выбор системы налогообложения малыми и средними предприятиями.</li>
	</ul>
</p>
<p>
	Данные кейсы размещены на официальном сайте <a href="http://corpmsp.ru/malomu_i_srednemu_biznesu/cases/" rel="noreferrer">АО «Корпорация «МСП».</a>
</p>
