<p>Предприниматели приглашаются для участия в опросе.</p>
<p>Очередной опрос предпринимателей по оценке эффекта от реализации планов мероприятий («дорожных карт») Национальной предпринимательской инициативы по улучшению инвестиционного климата в Российской Федерации состоится с 15 августа по 15 сентября 2016 года. </p>
<p>Для его проведения в сети «Интернет» подготовлены электронные анкеты по следующим вопросам: </p>
<p>- доступность энергетической инфраструктуры; </p>
<p>- таможенное администрирование; </p>
<p>- регистрация предприятий; </p>
<p>- регистрация права собственности; </p>
<p>- доступ субъектов малого и среднего предпринимательства к закупкам инфраструктурных монополий и компаний с государственным участием; </p>
<p>- строительство; </p>
<p>- поддержка экспорта; </p>
<p>- качество регуляторной среды для бизнеса; </p>
<p>- налоговое администрирование; </p>
<p>- оценочная деятельность. </p>
<p>Заполнить анкеты можно по следующему адресу: <a href="http://asi.ru/investclimate/opros/">http://asi.ru/investclimate/opros/</a>. </p>