<p>
  Встреча с предпринимателями
</p>
<p>
  26 апреля 2017 г. в администрации города прошёл семинар для предпринимателей и организаций Моршанска и Моршанского
  района. В работе семинара принял участие генеральный директор АО МК «Фонд содействия кредитованию малого и среднего
  предпринимательства Тамбовской области» (далее – Фонд) А.М. Блудов.</p>
<p>
  В ходе данного совещания А.М. Блудов довел до предпринимателей информацию о перечне услуг, которые предоставляет Фонд
  субъектам малого и среднего предпринимательства.
</p>
<p>
  По окончании совещания, все предприниматели смогли задать интересующие их вопросы.
</p>
<p>
  <img src="/assets/images/news/news_26_1.jpg" alt=""/>
</p>
<p>
  <img src="/assets/images/news/news_26_2.jpg" alt=""/>
</p>
