<p>
  Студенты Юридического института Тамбовского государственного технического университета посетили АО МК «Фонд содействия
  малого и среднего предпринимательства Тамбовской области»
</p>
<p>
  На базе акционерного общества Микрокредитная компания «Фонд содействия малого и среднего предпринимательства
  Тамбовской области» (далее – Фонд) в соответствии с заключенным 10.01.2017 Договором о сотрудничестве с ФГБОУ ВО
  «Тамбовский государственный технический университет» (далее – Университет) создано отделение кафедры «Гражданское
  право и процесс». Деятельность отделении кафедры направлено на: создание и развитие научной и практической базы Фонда
  и Университета; определение перспективных направлений развития, ведущих к новому качественному уровню образовательной,
  научной и практической сфер деятельности; привлечение талантливой молодежи к научно-практической деятельности. Со
  стороны Фонда работу отделения кафедры курируют к.и.н., доцент А.М. Блудов, к.ю.н., доцент А.Н. Шепелёв.
</p>
<p>
  26.05.2017 в рамках деятельности отделения кафедры, в также в связи с Днём российского предпринимательства студенты
  Юридического института Университета посетили Фонд. Студенты ознакомились с деятельностью Фонда и задачах, стоящими
  перед Фондом, как институтом финансовой поддержки субъектов малого и среднего предпринимательства. Сотрудники Фонда
  рассказали студентам об особенностях осуществления предпринимательской деятельности; мерах поддержки, которые
  оказываются предпринимателям со стороны государства; рисках, которые «подстерегают» начинающих предпринимателей. Также
  студенты смогли «попробывать свои силы» в качестве сотрудников Фонда. Для этого им были предоставлены рабочие места и
  соответствующие задания, с которыми они успешно справились.
</p>
<p>
  Руководство Фонда высоко оценило теоретические и практические знания студентов и предложило им прохождение
  производственной практики осуществлять на базе Фонда.
</p>
<p>
  <img src="/assets/images/pro1.jpg" alt="">
</p>
<p>
  <img src="/assets/images/pro2.jpg" alt="">
</p>
<p>
  <img src="/assets/images/pro3.jpg" alt="">
</p>
<p>
  <img src="/assets/images/pro4.jpg" alt="">
</p>
<p>
  <img src="/assets/images/pro5.jpg" alt="">
</p>
