<p>Меры государственной поддержки малого и среднего предпринимательства в современных экономических условиях обсудили в рамках круглого стола в Инжавинском районе. </p>
<p>Организатором и модератором данного мероприятия выступил Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области. Участие в нем приняли местные предприниматели и представители Администрации Инжавинского района. Представители Фонда ознакомили присутствующих с действующими мерами государственной поддержки, озвучили основные принципы, возможности и условия Фонда для оказания государственной поддержки субъектам малого и среднего предпринимательства.</p>
<p>По завершению круглого стола участники посетили семейную птицеводческую ферму. </p>
<p>
  <img src="/assets/images/news/01news25-08-2016-2.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/02news25-08-2016-2.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/03news25-08-2016-2.jpg" alt="">
</p>
<p>
  <img src="/assets/images/news/04news25-08-2016-2.jpg" alt="">
</p>