<p><b>Банк России сохранил ключевую ставку на уровне 11,00% годовых</b></p>
<p>
Совет директоров Банка России 11 декабря 2015 года принял решение сохранить ключевую ставку на уровне 11,00% годовых, учитывая увеличение инфляционных рисков при сохранении рисков охлаждения экономики. Годовой темп прироста потребительских цен в конце 2016 года составит около 6% и достигнет целевого уровня 4% в 2017 году. По мере замедления инфляции в соответствии с прогнозом и при условии ослабления инфляционных рисков Банк России возобновит снижение ключевой ставки на одном из ближайших заседаний Совета директоров.
</p>
<p>
Следующее заседание Совета директоров Банка России, на котором будет рассматриваться вопрос об уровне ключевой ставки, запланировано на 29 января 2016 года. 
</p>

<p><br/>Информация предоставлена  Центральным банком Российской Федерации
<a href="http://www.cbr.ru/Press/" target="_blank">http://www.cbr.ru/Press/</a></p>
