<p>
<b>Брифинг на тему поддержки малого и среднего бизнеса</b>
</p>
<p>
<img src="https://s3.eu-central-1.amazonaws.com/fsc-tambov/images/12.02.16.jpg" style="float: left; margin: 0 15px 15px 0; width: 300px;"/>
12.02.2016 прошёл брифинг, на котором директор Тамбовского областного ГУП «Фонда содействия кредитованию малого и среднего предпринимательства» Андрей Михайлович Блудов подвел итоги деятельности Фонда за 2015 год.<br/><br/>
За 2015 год Фонд выдал 73 поручительства на общую сумму 476 117,3 тыс. рублей, что позволило субъектам малого и среднего предпринимательства привлечь кредитов на сумму 1 096 958,5 тыс. рублей.

<br/><br/><br/><br/><br/><br/></p>
<p>
Отраслевой портфель выданных Фондом поручительств выглядит следующим образом:<br/>
1) Сельское хозяйство – 38%;<br/>
2) Торговля – 19%;<br/>
3) Производство – 18%;<br/>
4) Строительство – 13%;<br/>
5) Транспорт – 7%;<br/>
6) Предоставление бытовых услуг – 4%;<br/>
7) Недвижимость – 1%.<br/>
</p>
<p>
2015 год стал лучшим за все годы деятельности Фонда по таким показателям как:<br/>
- количество заключенных договоров поручительства;<br/>
- сумма выданных поручительств;<br/>
- сумма кредитов, выданных под поручительство Фонда.<br/>
</p>
<p>
65 субъектами малого и среднего предпринимательства, воспользовавшимися поручительством Фонда в 2015 году, сохранено 2229 и создана возможность для организации 253 новых рабочих места, объём налоговых отчислений данной категории предпринимателей, в бюджеты всех уровней составил свыше 160 млн. рублей.</p><p>
В 2015 году расширился территориальный срез, который представляют клиенты Фонда (в 28-и из 30-и муниципальных образований Тамбовской области субъекты малого и среднего предпринимательства получают кредиты под гарантии Фонда.</p><p>
В целях расширения видов финансовой поддержки субъектов малого и среднего предпринимательства Тамбовской области Фондом организовано взаимодействие с АО «Федеральная корпорация по развитию малого и среднего предпринимательства» (далее – Корпорация). Стратегическими целями Корпорации является содействие развитию сферы МСП, увеличение доли субъектов МСП в объеме инвестиций и структуре экономики России, повышение количества высокопроизводительных рабочих мест, а также содействие в реализации приоритетных направлений экономической политики государства и регионов.</p><p>
29 октября 2015 года оформлена первая совместная сделка Фонда и Корпорации по предоставлению обеспечения субъекту МСП, в результате которой ООО «Тамбовский Завод Растительных Масел» (ИНН 6820033318, ОКВЭД - 15.4 производство растительных и животных масел и жиров) получил кредит в ПАО Сбербанк.</p><p>
09.10.2015 рейтинговое агентство RAEX (Эксперт РА) подтвердило рейтинг надежности гарантийного покрытия, предоставляемого Фондом на уровне А+ «Очень высокий уровень кредитоспособности». Прогноз по рейтингу – стабильный.
</p>