<p>
  На планерном заседании у главы администрации Тамбовской области А.В. Никитина рассмотрены вопросы развития малого
  бизнеса в регионе
</p>
<p>
  24 апреля 2017 года состоялось планёрное совещание под руководством главы администрации Тамбовской области Александра
  Валерьевича Никитина, на котором были рассмотрены вопросы развития малого и среднего предпринимательства, реализация
  мер государственной поддержки в 2017 году. В планёрном совещании принял участие генеральный директор АО МК «Фонд
  содействия кредитованию малого и среднего предпринимательства Тамбовской области» Андрей Блудов.</p>
<p>
  Губернатор А.В. Никитин положительно оценил проведенную работу, касающуюся поддержки предпринимательства. При этом он
  заметил: «Следует стимулировать занятость населения, эффективно использовать финансовые механизмы поддержки, обеспечив
  равный доступ  малого и среднего бизнеса к  выделяемым средствам. Кроме бизнес-планов, надо  посмотреть на людей, их
  реальные дела. Будем внедрять новые инфраструктурные методы  поддержки бизнеса, в этом деле важно не заниматься
  дублированием функций, а делать ставку на институты развития, предприимчивость и активность, искать новые истории
  успеха людей,  которые любят  и умеют заниматься своим делом. На таких сегодня большой спрос.»
</p>
<p>
  <img src="/assets/images/news/news_24.jpg" alt="" />
</p>
