.bredcrumbs
    display block
    padding 10px 0 10px 0
    margin-bottom 10px
    font-size 14px
    border-bottom 1px solid #232323
    li
        display inline-block
        &:after
            content ">"
            display inline-block
            margin 0 5px
        &:last-child:after
            content ""
    a
        text-decoration none
        color #232323