<a href = "#projects" class="block-map" >
    <span class="aside-header">Проекты</span>
    <span class="map-project">
        <img src="../../../assets/images/map/allmap.svg" alt="">
    </span>
</a>
<a href="#/fns" class="block-fns"><img src="/assets/images/fns.jpg"></a>
<div class="block no-bor">
    <span class="aside-header">Курс валют</span>
    <div class="exchahge-data">
        <div class="euro">
            <span class = "count">1 EUR</span>
            <span ng-bind="exchangeData[1].Rate" class = "exchange"></span>
            <span 
                class="spread" 
                ng-bind = "spreadEuro"
                ng-class = "{'red': spreadEuro<0, 'green': spreadEuro>0}"></span>
        </div>
        <div class="usa">
            <span class = "count">1 USA</span>
            <span ng-bind="exchangeData[0].Rate" class = "exchange"></span>
            <span 
                class="spread" 
                ng-bind = "spreadUsa"
                ng-class = "{'red': spreadEuro<0, 'green': spreadEuro>0}"></span>
        </div>
    </div>
</div>

<span class="aside-header"></span>

<a href = "http://raexpert.ru/database/companies/fund_tambov/" class="block">
    <img src="../../../assets/images/raiting.jpg" alt="">
    <span>
        Рейтинг эксперта
    </span>
</a>

<a href = "http://economy.gov.ru/minec/main" class="block">
    <img src="../../../assets/images/econom-reeks.jpg" alt="">
    <span>
        Министрество экономичкского развития Российской Федерации <br>
        Минэкономразвития России
    </span>
</a>

<a href = "http://www.acgrf.ru/" class="block">
    <img src="https://s3.eu-central-1.amazonaws.com/fsc-tambov/partners/akg_new.jpg" alt="">
    <span>
        Агенство кредитных гарантий
    </span>
</a>

<a href = "http://www.asi.ru/" class="block">
    <img src="../../../assets/images/strategik-init.jpg" alt="">
    <span>
        Агенство стратегических инициатив
    </span>
</a>

<a href = "http://www.deloros.ru/" class="block">
    <img src="../../../assets/images/deal-rus.jpg" alt="">
    <span>
        Общероссийская общественная организация "Деловая Россия"
    </span>
</a>

<a href = "http://ombudsmanbiz.ru/" class="block">
    <img src="../../../assets/images/obdusmen.jpg" alt="">
    <span>
        Бизнес-Омбудсман
    </span>
</a>

<a href = "http://arb.ru/" class="block">
    <img src="../../../assets/images/bank-associate.jpg" alt="">
    <span>
        Ассоцияция Российских Банков
    </span>
</a>

<a href = "http://uprim.tmbreg.ru/" class="block no-bor">
    <img src="../../../assets/images/commitet-tmb.jpg" alt="">
    <span>
        Комитет по управлению имуществом Тамбовской области
    </span>
</a>

<a href = "http://pred.tmbreg.ru/" class="block no-bor">
    <img src="../../../assets/images/prom-menegment.jpg" alt="">
    <span>
        Управление по развитию промышленности и предпринимательства Тамбовской области
    </span>
</a>

<a href="http://pmp.tmbreg.ru/" class="block">
    <img src="../../../assets/images/portal.jpg" alt="">
    <span>
        Портал малого и среднего предпринимательства Тамбовская область 
    </span>
</a>

<a href = "http://www.tambov-apk.ru/about/" class="block">
    <img src="../../../assets/images/tambovapk.jpg" alt="">
</a>