aside
    width 25%
    display inline-block
    float right

.block-map,
.block
    min-height 65px
    width 100%
    display inline-block
.block-map
    margin-bottom 84px
    text-decoration none
.block 
    margin-bottom 15px
    box-sizing border-box
    border 1px solid #888
    .aside-header
        text-transform none
    &.no-bor
        border 0
    img
        width 100%
    &>span
        display none
        font-size 1.4em

.aside-header
    background-color #37455e
    margin 0
    text-align center
    font-size 1.8em
    color #fff
    display block
    padding 5px 0
    text-transform uppercase

.map-project
    height 234px
    background #fff 
    display block
    padding 10px 0
    img
        width 100%
        height 100%
        

.euro,
.usa
    display block
    padding 6px 0px 6px 22px
    font-size 1.4em
    margin-left 10px
    .red
        color #ff0000
        &:before
            content "▼"
    .green
        color #18881c
        &:before
            content "▼"
    .red,
    .green
        &:before
            font-size 1em
            padding-right 2px
.euro
    background url(../../assets/images/euro.jpg) 0 center no-repeat
.usa
    background url(../../assets/images/usa.jpg) 0 center no-repeat


.exchange:after
    content " руб."
    padding 0 2px



.sand-blind
    aside
        border-left 1px solid black
    a.block
        text-decoration none
        border 0
        border-bottom 1px solid black
        &>span
            display block
            text-align center
        img
            display none
        &:last-of-type
            border 0
    .euro, .usa
        padding 0
        background none
        padding 10px 0
        text-align center
        font-size 1.7em
        .count
            margin-right 15px
            display inline-block







    &.col1
        a.block
            border-color black
            padding 10px 0
            &>span
                color black
            .aside-header
                color white
            &:hover span
                text-decoration underline
        .aside-header
            color white
            background-color black
        .euro
            border-bottom 2px dotted black