<a href = "#projects" class="block-map" >
    <span class="aside-header">Проекты</span>
    <span class="map-project">
        <img src="../../../assets/images/map/allmap.svg" alt="">
    </span>
</a>

<div class="block no-bor">
    <span class="aside-header">Курс валют</span>
    <div class="exchahge-data">
        <div class="euro">
            <span class = "count">1 EUR</span>
            <span ng-bind="exchangeData[1].Rate" class = "exchange"></span>
            <span 
                class="spread" 
                ng-bind = "spreadEuro"
                ng-class = "{'red': spreadEuro<0, 'green': spreadEuro>0}"></span>
        </div>
        <div class="usa">
            <span class = "count">1 USA</span>
            <span ng-bind="exchangeData[0].Rate" class = "exchange"></span>
            <span 
                class="spread" 
                ng-bind = "spreadUsa"
                ng-class = "{'red': spreadEuro<0, 'green': spreadEuro>0}"></span>
        </div>
    </div>
</div>

<a href = "http://raexpert.ru/database/companies/fund_tambov/" class="block">
    <img src="../../../assets/images/raiting.jpg" alt="">
</a>

<a href = "http://economy.gov.ru/minec/main" class="block">
    <img src="../../../assets/images/econom-reeks.jpg" alt="">
</a>

<a href = "http://www.acgrf.ru/" class="block">
    <img src="../../../assets/images/credit-garant.jpg" alt="">
</a>

<a href = "http://www.asi.ru/" class="block">
    <img src="../../../assets/images/strategik-init.jpg" alt="">
</a>

<a href = "http://www.deloros.ru/" class="block">
    <img src="../../../assets/images/deal-rus.jpg" alt="">
</a>

<a href = "http://ombudsmanbiz.ru/" class="block">
    <img src="../../../assets/images/obdusmen.jpg" alt="">
</a>

<a href = "http://arb.ru/" class="block">
    <img src="../../../assets/images/bank-associate.jpg" alt="">
</a>

<a href = "http://uprim.tmbreg.ru/" class="block no-bor">
    <img src="../../../assets/images/commitet-tmb.jpg" alt="">
</a>

<a href = "http://pred.tmbreg.ru/" class="block no-bor">
    <img src="../../../assets/images/prom-menegment.jpg" alt="">
</a>

<a href="http://pmp.tmbreg.ru/" class="block">
    <img src="../../../assets/images/portal.jpg" alt="">
</a>