<a href = "" class="block-map" >
    <p class="aside-header">Проекты</p>
    <div class="map-project"></div>
</a>

<div class="block">
    <p class="aside-header">Курс валют</p>
    <div class="exchahge-data">
        <div class="euro">
            <span class = "count">1 EUR</span>
            <span ng-bind="exchangeData[1].Rate"></span>
            <span 
                class="spread" 
                ng-bind = "spreadEuro"
                ng-class = "{'red': spreadEuro<0, 'green': spreadEuro>0}"></span>
        </div>
        <div class="usa">
            <span class = "count">1 USA</span>
            <span ng-bind="exchangeData[0].Rate"></span>
            <span 
                class="spread" 
                ng-bind = "spreadEuro"
                ng-class = "{'red': spreadEuro<0, 'green': spreadEuro>0}"></span>
        </div>
    </div>
</div>