footer
    vertical-align top
    background-color #4e737c
    padding 20px 0
    margin-top 20px
    font-size 1.4em
    color #fff
    ul
        vertical-align top
    &>.center>p
        text-align center
        margin 20px 0 0 0
.about-fond,
.about-site
    margin-right 40px
    a
        color #fff
        text-decoration none
        &:hover
            text-decoration undedrline
    li
        margin-bottom 10px
        display block
    li:first-child a
        text-transform uppercase

.about-fond li a 
    text-transform uppercase

.fond-activities
    display inline-block
    float right
    p
        margin 0
        


.sand-blind
    .about-fond,
    .about-site,
    .fond-activities
        width 30%
        margin 0
        padding 0 1%
        display inline-block
        float none
    &.col1
        footer
            background-color black
            color white