<div class="center">
    <ul class = "about-fond">
        <li><a href="">О Фонде</a></li>
        <li><a href="">Для бизнеса</a></li>
        <li><a href="">Для банков</a></li>
        <li><a href="">Отчетность</a></li>
        <li><a href="">Контакты</a></li>
    </ul>

    <ul class="about-site">
        <li><a href="">О сайте</a></li>
        <li><a href="">Об использовании информации сайта</a></li>
        <li><a href="">Официальный баннер</a></li>
        <li><a href="">Карта сайта</a></li>
    </ul>
    
    <div class="fond-activities clr">
        <p>Консультации по влпросам деятельности Фонда:</p>
        <br>
        <p>г.Тамбов, ул. Максима Горького, 17/129,<br>
            бизнес-центр "Галерея", оф. 608 <br>
            +7 (4752) 63-07-27</p>
    </div>
    <div class="clr"></div>
    <p>
        © ТОГУП "Фонд содействия кредитованию малого и среднего предпринимательcтва Тамбовской области", 2015
    </p>
</div>