<div class="center">
    <ul class = "about-fond">
        <li><a href="">О Фонде</a></li>
        <li><a href="">Для бизнеса</a></li>
        <li><a href="">Для финансовых организаций</a></li>
        <li><a href="">Отчетность</a></li>
        <li><a href="">Контакты</a></li>
    </ul>

    <ul class="about-site">
        <li><a href="">О сайте</a></li>
        <li><a href="">Об использовании информации сайта</a></li>
        <li><a href="">Официальный баннер</a></li>
        <li><a href="">Карта сайта</a></li>
    </ul>

    <div class="fond-activities clr">
        <p>Консультации по вопросам деятельности Фонда:</p>
        <br>
        <p>г.Тамбов, ул. Интернациональная, 16 а, пом. 17<br>
            +7 (4752) 63-77-26<br>
            +7 (4752) 63-77-27</p>
    </div>
    <div class="clr"></div>
    <p>
        © АО Микрокредитная компания "Фонд содействия кредитованию малого и среднего предпринимательства Тамбовской области", 2017
    </p>
</div>
