<div class="center">

    <div class="hd-1 clr">

        <a href="" ui-sref = "home" class = "logo-wrap">
            <img src="../../../assets/images/logo.png" alt="">
        </a>

        <ul class="header-info-wrap">
            <li class = "for-starblind">
                <a href="">Версия для слабовидящих</a>
            </li>
            <li class = "phone-num">+7 (4752) 63-07-26</li>
            <li class = "address">г.Тамбов, ул. Максима Горького, 17/129, бизнес-центр "Галерея", оф. 608</li>
            <li class = "e-mail">info@fsc-tambov.ru</li>
        </ul>

    </div>

    <div class="hd-2 clr">
        <ul class="main-menu">
            <li>
            <!-- <li class = "active"> -->
                <a href="">О фонде</a>
                <div class="sub-menu-wrap">
                    <ul class = "sub-menu">
                        <li>
                            <a href="">Задача фонда</a>
                        </li>
                        <li>
                            <a href="">Нормативно-правовая база</a>
                        </li>
                        <li>
                            <a href="">Архив изменений в устав и регламент</a>
                            <div class="sub-sub-menu-wrap">
                                <ul>
                                    <li>
                                        <a href="">Изменения в устав</a>
                                    </li>
                                    <li>
                                        <a href="">Изменения в регламент</a>
                                    </li>
                                    <li>
                                        <a href="">Свидетельства Фонда</a>
                                    </li>
                                </ul>
                            </div>
                            
                        </li>
                        <li>
                            <a href="">Формы документов</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="">Для бизнеса</a>
                <div class="sub-menu-wrap">
                    <ul class = "sub-menu">
                        <li>
                            <a href="">Преимущества работы с Фондом</a>
                        </li>
                        <li>
                            <a href="">Условия предоставления поручительства Фонда</a>
                        </li>
                        <li>
                            <a href="">Порядок получения кредита под поручительство Фонда</a>
                        </li>
                        <li>
                            <a href="">Формы документов</a>
                        </li>
                        <li>
                            <a href="">Поддержка малого и среднего предпринимательства в разрезе муниципальных образований Тамбовской области</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="">Для банков</a>
                <div class="sub-menu-wrap">
                    <ul class = "sub-menu">
                        <li><a href="">Преимущества работы с Фондом</a></li>
                        <li><a href="">Критерии отбора банков-партнеров</a></li>
                        <li><a href="">Лимиты поручительств на банки-партнеры</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="">Отчетность</a>
            </li>
            <li>
                <a href="" ui-sref = "contacts">Контакты</a>
            </li>
        </ul>

        <form action="" class="search-form clr">
            <input type="text" placeholder = "Поиск по сайту">
            <button></button>
        </form>
    </div>

    <nav class = "header-links">
        <a href="" class = "ask-question" ui-sref = "ask-question">Задать вопрос</a>
        <a href="" class = "apply-for-bail" ui-sref = "application">Получить заявку на <br>поручительство</a>
        <a href="" class = "download-docs" ui-sref = "download">Скачать документы</a>
    </nav>

    <div class="hd-3">
        <div class="center">
            
        </div>
    </div>

</div>
