<div class="center" ng-controller="Header">

    <div class="hd-1 clr">

        <a href="" class = "logo-wrap">
            <img src="../../../assets/images/logo.png" alt="">
        </a>

        <ul class="header-info-wrap">
            <li class = "for-starblind">
                <a href="">Версия для слабовидящих</a>
            </li>
            <li class = "phone-num">+7 (4752) 63-07-26</li>
            <li class = "address">г.Тамбов, ул. Максима Горького, 17/129, бизнес-центр "Галерея", оф. 608</li>
            <li class = "e-mail">info@fsc-tambov.ru</li>
        </ul>

    </div>

    <div class="hd-2 clr">
        <ul class="main-menu">
            <li class = "active">
                <a href="">О фонде</a>
            </li>
            <li>
                <a href="">Для бизнеса</a>
            </li>
            <li>
                <a href="">Для банков</a>
            </li>
            <li>
                <a href="">Отчетность</a>
            </li>
            <li>
                <a href="">Контакты</a>
            </li>
        </ul>

        <form action="" class="search-form clr">
            <input type="text" placeholder = "Поиск по сайту">
            <button></button>
        </form>
    </div>

    <nav class = "header-links">
        <a href="" class = "ask-question">Задать вопрос</a>
        <a href="" class = "apply-for-bail">Получить заявку на <br>поручительство</a>
        <a href="" class = "download-docs">Скачать документы</a>
    </nav>

    <div class="hd-3">
        <div class="center">
            
        </div>
    </div>

</div>
