<div class="center">
    <div class="hd-1 clr">
        <a href="" ui-sref = "home" class = "logo-wrap">
            <img src="../../../assets/images/logo.png" alt="" ng-hide = "$root.sandBlindVer">
            <img src="../../../assets/images/logo-col1.png" alt="" ng-show = "$root.sandBlindVer">
        </a>

        <ul class="header-info-wrap">
            <li class = "for-starblind" ng-click = "toggleSandBlindVer()" ng-hide = "$root.sandBlindVer">
                <a href="" >Версия для слабовидящих</a>
            </li>
            <li class = "phone-num"><a href = "tel:+74752637726">+7 (4752) 63-77-26</a></li>
            <li class = "phone-num"><a href = "tel:+74752637727">+7 (4752) 63-77-27</a></li>
            <li class = "address">г.Тамбов, ул. Интернациональная, 16 а, пом. 17</li>
            <li class = "e-mail"><a href = "mailto:info@fsc-tambov.ru">info@fsc-tambov.ru</a></li>
        </ul>

    </div>

    <div class="hd-2 clr">
        <ul class="main-menu">
            <li>
            <!-- <li class = "active"> -->
                <a href="">О Фонде</a>
                <div class="sub-menu-wrap">
                    <ul class = "sub-menu">
                        <li>
                            <a href="#tasks">Задачи Фонда</a>
                        </li>
                        <li>
                            <a href="#regulatory-base">Нормативно-правовая база</a>
                        </li>
                        <li>
                            <a href="#archive-changes">Архив изменений в устав и регламент</a>
                            <div class="sub-sub-menu-wrap">
                                <ul>
                                    <li>
                                        <a href="#changes-statutes">Изменения в устав</a>
                                    </li>
                                    <li>
                                        <a href="#changes-regulations">Изменения в регламент</a>
                                    </li>
                                    <li>
                                        <a href="#certificate">Свидетельства Фонда</a>
                                    </li>
                                </ul>
                            </div>

                        </li>
                        <li>
                            <a href="/doc/about/Реквизиты_ АО.docx">Реквизиты</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="">Для бизнеса</a>
                <div class="sub-menu-wrap">
                    <ul class = "sub-menu">
                        <li>
                            <a href="#advantages">Преимущества работы с Фондом</a>
                        </li>
                        <li>
                            <a href="#guarantee">Условия предоставления поручительства Фонда</a>
                        </li>
                        <li>
                            <a href="#obtaining-loan">Порядок получения кредита под поручительство Фонда</a>
                        </li>
                        <li>
                            <a href="#support-buisness">Поддержка малого и среднего предпринимательства в разрезе муниципальных образований Тамбовской области</a>
                        </li>
                        <li>
                            <a href="/doc/other/ПРОДУКТЫ БАНКА.xlsx">Условия кредитования в банках-партнерах</a>
                        </li>
                        <li>
                            <a href="#case">Кейсы</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="">Для финансовых организаций</a>
                <div class="sub-menu-wrap">
                    <ul class = "sub-menu">
                        <li><a href="#bank-advantages">Преимущества работы с Фондом</a></li>
                        <li><a href="#bank-partnership">Критерии отборов финансовых организаций – партнёров</a></li>
                        <li><a href="#limits-guarantees">Лимиты поручительств на финансовые организации - партнеры</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#reporting">Отчётность</a>
            </li>
            <li>
                <a href="" ui-sref = "contacts">Контакты</a>
            </li>
        </ul>

        <form action="" class="search-form clr">
            <input type="text" placeholder = "Поиск по сайту">
            <button></button>
        </form>
    </div>

    <nav class = "header-links">
        <a href="" class = "ask-question" ui-sref = "ask-question">Задать вопрос</a>
        <a href="" class = "apply-for-bail" ui-sref = "application">Получить заявку на <br>поручительство</a>
        <a href="" class = "download-docs" ui-sref = "download">Формы документов</a>
    </nav>

    <div class="hd-3">
        <div class="center">

        </div>
    </div>

</div>
