.upper
    text-transform uppercase

.projects-wrap
    background-color #fff
    padding 10px
    border-radius 10px
.projects
    width 70%
    display inline-block
    height 550px
    svg
        width 100%
    
.map g:hover 
    path:not(.map_bg)
        fill #debba5
    text
        fill blue
.projects-list
    display inline-block
    width 29%
    float right
    margin-top 20px
    li
        margin-bottom 3px
    a
        color #4e737c
        &:hover
            font-weight 700
// .map text
//     fill transparent
//     font-size 30px
//     