.person-wrap,
.person-list-wrap
    width 100%
    margin-bottom: 20px
    
    figcaption
        vertical-align top
        font-size 1.4em
    figure
        width 100%
    .person
        display inline-block
    p
        margin 0
        margin-bottom 2px
    b
        font-size 1.3em
        display block
    a
        color #3498db
        

.person-wrap .person
    img
        display inline-block
        width 50%
        margin-right: 20px
    .post
        margin-bottom: 20px
        font-size 1em
.person-list-wrap
    display flex
    flex-flow row wrap
    justify-content space-around
    li
        width 32%
        margin-bottom 20px
        img
            width 100%
    .name
        margin-top: 4px
    .post
        line-height: 18px
        height 55px
        





.sand-blind
    &.white
        .person-wrap,
        .person-list-wrap
            color black
            a 
                color black

    &.black
        .person-wrap,
        .person-list-wrap
            color white
            a 
                color white

    &.blue
        .person-wrap,
        .person-list-wrap
            color #063462
            a 
                color #063462
