html
  font-family 'Tahoma', serif

[layout=row]
  flex-direction row

body
  background-color #ebe8e0

ul
  display inline-block
  margin 0
  padding 0

li
  list-style-type none
  margin 0
  padding 0

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0


.center
  display block
  margin auto
  width 960px


.clr:after
  content ""
  display block
  height 0
  clear both
  
.main-cantainer
  margin-top 10px






/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
// injector
// endinjector
