<div class="sand-blind-ver" ng-show = "$root.sandBlindVer">
    <div class="center">
        <div class="cell1_3">
            <a href="" ng-show = "$root.sandBlindVer" ng-click = "toggleSandBlindVer()" class = "normal-ver">Обычная версия сайта</a>
        </div>
        <div class="cell1_3">
            <span>
                Размер шрифта:
            </span>
            <ul class="font-size">
                <li>
                    <button class="small active">A</button>
                </li>
                <li>
                    <button class="medium">A</button>
                </li>
                <li>
                    <button class="large">A</button>
                </li>
            </ul>
        </div>
        <div class="cell1_3">
            <span>
                Цветовая схема:
            </span>
            <ul class="color-shema">
                <li>
                    <button class="white">A</button>
                </li>
                <li>
                    <button class="black">A</button>
                </li>
                <li>
                    <button class="blue">A</button>
                </li>
            </ul>
        </div>
    </div>
</div>